#hrsctn {
    background: url("casesImgs/altai.webp") no-repeat center left / cover;
    z-index: 1;
}
#hrsctn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: #00000050;
}
#hero {
    background: none;
    color: var(--c-wht);
}

.hx-at-allcases-item {

}

.newCover {
    background-position: top center!important;
}

.hx-at-cases-filters {
    border: 1px solid #5ED7CF80;
    border-radius: var(--rem-bb);
    background-color: #5ED7CF10;

    max-width: fit-content;
    margin: 0 auto;
    position: sticky;
    top: 90px;
    z-index: 995595607309;
    background-color: var(--c-wht);
}
.hx-at-cases-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--rem-a);

    margin: var(--rem-a);
}
    .hx-at-cases-categories .hx-at-btn-p-tr {
        padding: var(--rem-a) var(--rem-b);
        min-width: fit-content;
        cursor: pointer;
    }
        .hx-at-cases-categories .hx-at-btn-p-tr {
            color: var(--c-gr) !important;
            transition: all .3s ease-out;
            border-color: #FF4F9250;
        }
.caseActiveFilter {
    box-shadow: 0 0 2px #9f1c4e;
    font-weight: 700;
}

.hx-at-cases-block {
    justify-content: center;
}

/**/
@media screen and (min-width: 1100px) {
    .hx-at-allcases-item {
        max-width: 31%;
    }
}