#h_at_cases {
    display: flex;
    position: relative;
    max-width: 1200px;-
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 80px 40px;
    flex-wrap: wrap;

    translate: -50%;
    left: 50%;

    background-color: #FFFFFF;
}
.h_at_caseBlock * {
    transition: all .3s ease;
}
.h_at_caseBlock {
    display: flex;
    width: 340px;
    min-width: 240px;
    max-width: 28vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    flex-wrap: wrap;
    cursor: pointer;
    flex: 1 1 30%;

    border-radius: 1rem;
}
.h_at_caseBlockImg {
    display: flex;
    max-height: 600px;
    min-height: 40vh;
    padding: 5px;
    align-items: flex-end;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    background-position: center;
    border-radius: 1rem 1rem .5rem .5rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.h_at_caseBlockImg > .p {
    display: flex;
    padding: .6rem 1rem .5rem 1rem;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0.4rem;
    background: #FFFFFF;

    font-family: 'Geometria',Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #777777;

    opacity: 1;
}
.h_at_caseBlockHeader {
    display: flex;
    padding: 0 5px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    color: #555555;
    font-family: 'Geometria',Arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.h_at_caseBlockLink {
    display: flex;
    /*padding: .8rem 1rem .6rem 1rem;*/
    padding: 15px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    border-radius: .5rem .5rem 1rem 1rem;

    text-decoration: none;

    text-align: center;
    font-family: 'Geometria', Arial, sans-serif;
    /*font-size: 12px;*/
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;

    background-color: #5ed7cf;
    color: #fff!important;
}

.h_at_caseBlock:hover {
    .h_at_caseBlockImg {
        scale: 1.01;
        border-radius: 1rem;
    }
    .h_at_caseBlockLink {
        background-color: #ff4f92;
    }
    .p {
        opacity: 1;
        border-radius: 0.4rem 0.4rem 0.4rem 0.7rem;
    }
}

.h_at_allCasesButton {
    display: table;
    margin: 40px auto;
    padding: 15px 20px 12px 20px;
    border-radius: .5rem;

    font-family: 'Geometria',Arial,sans-serif;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #ff4f92;
    color: #fff!important;
}


@media screen and (max-width: 1300px) {
    .h_at_caseBlock {
        max-width: unset!important;
    }
}

@media screen and (max-width: 500px) {
    #h_at_cases {
        padding: 40px;
        gap: 40px;
    }
    .h_at_allCasesButton {
        margin: 0 auto 40px auto;
    }
}