#rec693341354 {
  --gold: #334e3e;
  --light: #fdf5f0;
  --green: #577f67;
  --red: #70121c;
}
#rec693341354 .t868__code-wrap {
  border-radius: 10px;
  padding: 30px;
  background: #ebe3de;
  align-self: stretch;
  color: #454953;
  leading-trim: both;
  text-edge: cap;
  font-size: 15px;
  line-height: 1.3;
  color: #454953;
  font-weight: 400;
  font-family: "CeraPro";
}
#rec693341354 h2 {
  margin-top: 10px;
  align-self: stretch;
  color: #334e3e;
  leading-trim: both;
  text-edge: cap;
  font-family: Cormorant Unicase;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#rec693341354 a,
#rec693341354 sup {
  color: var(--gold);
}
#rec693341354 .t868__table {
  width: 100%;
  border-collapse: collapse;
}
#rec693341354 .t868__th {
  padding: 20px 10px 10px;
  text-align: left;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--gold);
  color: #454953;
  leading-trim: both;
  text-edge: cap;
  font-size: 15px;
  line-height: 1.3;
  color: #454953;
  font-weight: 600;
  font-family: "CeraPro";
}
#rec693341354 .t868__oddrow {
  background: #ebe3de;
}
#rec693341354 .t868__evenrow {
  background: var(--light);
  border-radius: 10px;
}
#rec693341354 .t868__td {
  padding: 10px 10px;
  border-radius: 5px;
}
#rec693341354 .t868__td:last-child {
  width: 100px;
  text-align: center;
}
#rec693341354 .note {
  margin-top: 30px;
  font-style: italic;
}
