@import 'https://holyxey.github.io/public/Terruar/multipage/stylesheets/main.css';
@import '../_new/ui/popUp/popUp.css';

.catalogue {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .category {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;

    > .cat-title {
      position: sticky;
      top: 0.5rem;
      padding: 0.5rem;
      background-color: var(--holyxey-back);
      z-index: 20;
      backdrop-filter: blur(5px);
      border-radius: 0.5rem;
      font-family: var(--holyxey-unbounded);
      color: var(--holyxey-yellow);
      text-align: center;
    }
  }

  /*  */
  .category .product {
    display: flex;
    flex-wrap: wrap;

    /*  */

    .product-header {
      height: 100px;
      position: relative;

      img {
        pointer-events: none;
        user-select: none;
        position: absolute;
        top: -1rem;
        left: -0.5rem;
        height: 200px;
      }
    }
    .product-info {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0.5rem;

      background: var(--holyxey-back-o);
      border-radius: 1rem;
      z-index: 10;
      padding: 0.5rem;

      .product-title {
        font-family: var(--holyxey-unbounded);
        color: var(--holyxey-yellow);
      }
      .product-descr {
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
    }
    .product-footer {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem;

      a {
        display: flex;
        gap: 1rem;
        align-items: center;

        padding: 0.5rem 0.5rem 0.5rem 1rem;
        border: none;
        border-radius: 1rem;

        background: var(--holyxey-good);
        color: var(--holyxey-whit);
        font-family: var(--holyxey-unbounded);
        text-decoration: none !important;

        svg {
          height: 1.5rem;
        }
      }
      .product-price {
        font-family: var(--holyxey-unbounded);
        color: var(--holyxey-yellow);
        text-wrap: nowrap;
      }
    }
  }
}
