    #casesHeader {
        background-color: var(--c-bl-tr);
    }
.hx-at-case-web {
    min-width: 30%;
}
.hx-at-case-img {
    aspect-ratio: 1 / 1.2;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    max-width: calc(100% - 10px);
}
#allCasesButton {
    translate: -50%;
    left: 50%;
}
    .newCover {
        background-position: top center!important;
    }