#reviews {
    background-color: var(--c-bl-tr);
}
.hx-at-review-block {
    display: flex;
    flex-direction: row;
    gap: var(--rem-b);

    border-radius: var(--rem-a);
}
.hx-at-review {
    background-color: var(--c-wht);
    padding: var(--rem-a);
    border-radius: var(--rem-c) var(--rem-a) var(--rem-a) var(--rem-a);
    margin: 0 var(--rem-aa);
}
.hx-at-review-headline {
    display: flex;
    align-items: center;
    gap: var(--rem-b);
}
.hx-at-review img {
    width: var(--rem-d);
    height: var(--rem-d);
    border-radius: var(--rem-e);
    float: left;
    filter: drop-shadow(0 0 4px #11111150);
}
.hx-at-review-name {
    font-size: var(--rem-bb);
    translate: 0 calc(var(--rem-a) / 6);
}
.hx-at-review-position {
    padding: var(--rem-b) var(--rem-a) 0 var(--rem-a);
    font-weight: 500;
}
.hx-at-review-in {
    font-size: .95rem;
    padding: var(--rem-a);

}

.slick-prev:before, .slick-next:before {
    color: var(--c-pk)!important;
}

/*
*/


@media screen and (max-width: 480px) {
    .hx-at-review {
        margin: 0;
    }
}