.uc-atTildaStyles .t-popup_show .t-popup__container {
    border-radius: var(--rem-a);
}
.uc-atTildaStyles .t-form button {
    font-size: var(--rem-aa)!important;
    padding: var(--rem-a) var(--rem-b) calc(var(--rem-a) - 2px) var(--rem-b)!important;
    height: unset!important;
    text-transform: uppercase!important;
    width: unset!important;
    border-radius: var(--rem-aa)!important;
}
.uc-atTildaStyles .t-section__descr {
    max-width: unset!important;
}
.uc-atTildaStyles .t690 .t-section__topwrapper {
    margin-bottom: var(--rem-b)!important;
}
.uc-atTildaStyles .t690 .t-section__title {
    margin-bottom: 0!important;
}
.uc-atTildaStyles .t-input {
    font-size: var(--rem-a)!important;
    padding: var(--rem-aa) var(--rem-b) calc(var(--rem-aa) - 2px) var(--rem-b)!important;
    height: unset!important;
    border-radius: var(--rem-aa)!important;
}
.uc-atTildaStyles .t-col, .t-col_12 {
    margin-left: unset!important;
    margin-right: unset!important;
    max-width: unset!important;
}
.uc-atTildaStyles .footerForm button {

}

@media screen and (max-width: 640px) {
    .uc-atTildaStyles .t-title > * {
        font-size: var(--rem-c)!important;
    }
}

@media screen and (max-width: 640px) {
    .uc-atTildaStyles .t-title > * {
        font-size: 2.5rem!important;
    }
}