#weddingHighLight,
#weddingHighLight * {
    padding: 0;
    margin: 0;
    font-family: 'Cera Pro', 'CeraPro', Arial, sans-serif;    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 40px;
}
#weddingHighLight ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
#weddingHighLight ul li {
    padding: 8px 20px;
    border-radius: 1rem;
    border: 1px solid #99A79F;
    font-weight: 400;
    text-align: center;
    text-wrap: balance;
    font-size: .9rem;
}

@media (max-width: 640px) {
    #weddingHighLight ul li {
        flex: 1 0 200px;
    }
}