@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
    min-height: calc(100vh - 4rem);
    padding: 2rem 0;
    margin: 0;

    background-color: #222222;
    background-image: url("https://static.tildacdn.com/tild3963-6339-4231-a231-633830323034/pattern5.png");
    background-size: 70px;

    font-family: 'Raleway', "Roboto", Tahoma, Arial, sans-serif;
    color: #FFFfff;
}
html {
    scroll-behavior: smooth;
}
* {
    position: relative;
}
    #page-offer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        min-height: calc(100vh - 6rem);

        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;

        background-image: url("https://static.tildacdn.com/tild6436-6464-4933-a231-633331653566/KIR_5409.jpg");
        background-position: center;
        border-radius: 1rem;
        box-shadow: 0px 4px 20px 0px #00000025;
        position: relative;
    }
    #page-offer:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-image: linear-gradient(0deg, #00000020, #000000C2);
    }
    .header {
        background-color: #ffffff10;
        border-radius: .5rem .5rem 1rem 1rem;
        margin: -.5rem -.5rem 0 -.5rem;

        color: #FFFfff;
        padding: .5rem 1rem;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        z-index: 200;
    }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            list-style-position: unset;

            display: flex;
            justify-content: stretch;
            gap: .5rem;
        }
        li {
            /*flex: 1;*/
            width: 100%;
            min-width: fit-content;
            height: 100%;

            padding: 1rem 2rem;
            border-radius: .5rem;
            text-align: center;

            transition: all .3s ease-in-out;
            cursor: pointer;
        }
        li:hover {
            background-color: #ffffff25;
        }
        li a {
            text-decoration: none;
            color: #ffffff;
        }

        #header-m {
            display: none;
            position: fixed;
            top: 7rem;
            right: 3.5rem;
            flex-direction: column;
            border-radius: 1rem;
            width: 100%;
            height: 100%;

            z-index: 995595000;
        }
            #header-m:before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background-color: #00000040;
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
            }
        .open-menu {
            position: fixed;
            top: 3rem;
            right: 3rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            background-color: #222222;
            justify-content: center;
            border: 1px solid #555555;
            border-radius: 1rem;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            cursor: pointer;
            z-index: 995595607309;
        }
        .open-menu-line {
            width: 1.5rem;
            height: 2px;
            background-color: #F8F3C8;
            border-radius: 2px;
            position: absolute;

            transition: all .4s ease-out;
        }
            .open-menu-line:last-child {
                translate: 0 5px;
            }
            .open-menu-line:first-child {
                translate: 0 -5px;
            }
            #header-m ul {
                flex-direction: column;
                align-items: center;
                right: 5rem;
                top: -4rem;
            }
            #header-m li {
                width: unset;
            }
    h1, .h1 {
        text-align: center;
        color: #F8F3C8;
        font-size: 3rem;
        font-weight: 500;
        z-index: 200;
    }
    .p {
        font-family: Roboto, Helvetica, sans-serif;
        margin: 0 auto;
        width: fit-content;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #00000020;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 300;
        z-index: 200;
        text-shadow: 0 0 10px #000000;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .pp {
        font-family: Roboto, Helvetica, sans-serif;
        margin: 0 auto;
        font-size: 1.1rem;
        font-weight: 300;
        z-index: 200;
    }
    h3, .h3 {
        padding: 0;
        margin: 0;
        color: #F8F3C8;
        font-size: 1.5rem;
        font-weight: 500;
        z-index: 200;
    }

    #offers-social {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        position: absolute;
        top: 2rem;
        right: -4rem;

        z-index: 995595607309;

        transition: all .3s ease-out;
    }
    #offers-social img {
        height: 1.5rem;
    }

    #page-offer-block {
        display: flex;
        gap: 1rem;
        align-items: stretch;
    }
.page-offer-block-section {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;

    z-index: 200;
}
.page-offer-block-section:first-child {
    content: '';
    background-image: url("https://holyxey.github.io/public/Terruar/specialOffers/rom.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 20px 0px #000000EA;
}
.page-offer-block-section:last-child {
    flex: 1.5;
    padding: 2rem;
    background-color: #00000080;

    justify-content: space-between;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

    .page-offer-block-section-benefits {
        gap: 1rem;
        opacity: .8;
        flex-wrap: wrap;
    }
    .page-offer-block-section-benefits li, .offer-price {
        height: unset;
        font-family: Roboto, Helvetica, sans-serif;
        padding: 10px 20px 10px 20px;
        border-radius: .7rem;
        font-weight: 100;
        max-width: fit-content;
        pointer-events: none;
        background-color: #00000030;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid #444444;
    }

.page-offer-block-section-first, .page-offer-block-section-second {
    display: flex;
    gap: 1rem;
}
.page-offer-block-section-first {
    flex-direction: column;
}
.page-offer-block-section-second {
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
    .whats-app {
        display: flex;
        gap: 1rem;
        font-weight: 100;
        align-items: center;
        border-radius: 1rem;
        padding: 10px 20px 10px 20px;
        border: 1px solid #56AC69;
        box-shadow: 0 0 10px #00000050;
        color: #F8F3C8!important;
        text-decoration: none!important;
        background-color: #00000040;
    }
    .whats-app svg {
        fill: #56AC69;
        height: 1.5rem;
    }


/*
*/
@media screen and (max-width: 1300px) {
    #page-offer {
        margin: 0 2rem;
    }
    .header ul {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .header li {
        padding: 1rem;
        width: 100%;
        flex: 1;
    }
}
@media screen and (max-width: 1440px) {
    #offers-social {
        top: 6rem;
        right: 2rem;
    }
}
@media screen and (min-width: 1000px) {
    #header-m, .open-menu {
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    #header-pc {
        display: none;
    }
    h1 {
        margin: 2rem auto;
        max-width: 80%;
    }

    #offers-social {
        display: none;

        flex-direction: column;
        position: fixed;
        right: 3.2rem;
        left: auto;
        top: 9rem;
    }
}
@media screen and (max-width: 800px) {
    body {
        padding: 1rem 0;
    }
    #page-offer {
        margin: 0 1rem;
        background-position: center -500px;
    }
    .open-menu {
        top: 2rem;
        right: 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    #page-offer-block {
        flex-direction: column;
        margin-top: 30vh;
    }
    .page-offer-block-section:first-child {
        min-height: 250px;
    }
    .page-offer-block-section:last-child {
        padding: 2rem 1rem 1rem 1rem;
    }

    #offers-social {
        right: 2.3rem;
        left: auto;
        top: 8rem;
    }
    #header-m ul {
        flex-direction: column;
        align-items: center;
        right: 5rem;
    }
}
@media screen and (max-width: 460px) {
    #offers-social {
        right: 0;
        left: 0;
        top: auto;
        bottom: 2rem;
        flex-direction: row;

        justify-content: center;
    }
    #header-m {
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }
    #header-m ul {
        position: absolute;

        top: auto;
        left: auto;
        right: auto;
        bottom: auto;

        width: calc(100vw - 5rem);
    }
    .page-offer-block-section-second {
        justify-content: center;
    }
    #page-offer {
        padding: .5rem;
    }
}


/*
*/
@keyframes offersMenuItems {
    from {opacity: 0; transform: translate(0, -2rem)}
    to {opacity: 1; transform: translate(0, 0)}
}
    .offersMenuItems {animation: offersMenuItems .4s ease-in-out forwards}

@keyframes offersOpacity {
    from {opacity: 0}
    to {opacity: 1}
}
    .offersOpacity {animation: offersOpacity .4s ease-in-out forwards}
@keyframes offersOpacityB {
    from {opacity: 1}
    to {opacity: 0}
}
    .offersOpacityB {animation: offersOpacityB .4s ease-in-out forwards}
