/*font-family: "Playfair Display", serif;*/
/*font-family: 'CirceRounded', Arial, sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/circe-rounded');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body, .t-body {
    background-color: #DBD3E1;
    background-image: url(https://static.tildacdn.com/tild3231-3862-4361-a631-393639303438/pattern.png);
    background-attachment: fixed;
}
* {
    padding: 0;
    margin: 0;
    line-height: 1;
    scroll-behavior: smooth;
}

#new-camp {
    max-width: 1200px;
    margin: 12rem auto 0 auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#new-camp * {
    font-family: "Playfair Display", sans-serif;
}
#new-camp .plane {
    padding: .7rem 1rem .5rem 1rem;
    border-radius: .5rem;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
}
#new-camp .white {
    background-color: white;
}
#new-camp .shadow {
    box-shadow: 0 0 10px #21212140;
}
#new-camp .button {
    text-decoration: none !important;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #FDEC81;
    border: 2px solid white;
    font-family: 'CirceRounded', "Circe Rounded", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #10121F !important;
    text-align: center;
}

#new-camp .head {
    display: flex;
    gap: 2rem;
    align-items: center;
}
#new-camp .head .head-img {
    max-width: 800px;
}
#new-camp .head .head-img img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 10px #21212140;
}
#new-camp .head #camp-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#new-camp .head #camp-info .month {
    opacity: .6;
    font-size: 1.6rem;
}
#new-camp .head #camp-info .header {
    font-size: 2rem;
    font-weight: 600;
}
#new-camp .head .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}
#new-camp .head .info .date {
    flex: 1;
}
#new-camp .head .info .arenas {
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
#new-camp .head .info .arenas ul {
    list-style: none;
    padding: 1rem;
}
#new-camp .head .info .arenas li {
    padding: .25rem;
    font-size: 1.1rem;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
}
#new-camp .head .info .head-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#new-camp .head .info .head-buttons > a {
    justify-self: stretch;
}
#new-camp #camp-program {
    background-color: #ffffff90;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
#new-camp #camp-program .program-header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
#new-camp #camp-program .program-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
#new-camp #camp-program .program-list .program-item {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    align-items: center;
}
#new-camp #camp-program .program-list .program-item-header {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5rem;
    align-self: stretch;
}
#new-camp #camp-program .program-list .program-item-point {
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}
#new-camp #camp-program a {
    max-width: fit-content;
    margin: auto;
}

#new-camp #price {
    background-color: #ffffff90;
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
#new-camp #price .price-header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    min-width: 100%;
}
#new-camp #price .price-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
#new-camp #price .price-list .price-item {
    flex: 1;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    align-items: center;
    align-self: stretch;

    background-color: white;
}
#new-camp #price .price-list .price-item .price-item-header {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    align-self: stretch;

    border-radius: unset;
    border-bottom: 1px solid #10121F50;
}
#new-camp #price .price-list .price-hours {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
#new-camp #price .price-list .price-hours .price-hours-item {
    flex: 1;
    text-align: center;

    min-width: fit-content;
}
#new-camp #price .price-list .price-list-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    margin-top: auto;
}
#new-camp #price .price-list .price-list-cost .price-cost-item {
    background-color: #FDEC81;
    padding: .5rem 1rem .7rem 1rem;
    border-radius: .25rem;
    font-size: 1.1rem;
}
#new-camp #price .price-list .price-list-cost .price-cost-once {
    font-weight: 300;
    opacity: .5;
    text-align: center;
}
#new-camp #price .price-list .price-item .price-item-arenas {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    text-align: center;
    min-width: fit-content;

    /*padding-block: .5rem;*/
    margin-top: auto;

    justify-content: center;
    align-items: center;
}
#new-camp #price .price-list .price-item .price-item-arenas .price-item-arenas-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #21212121;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
    align-self: stretch;
    cursor: pointer;
}

#new-camp #price .price-payments {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
#new-camp #price .price-payments .price-payments-item {
    flex: 1;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    align-items: center;
    align-self: stretch;

    background-color: white;
}
#new-camp #price .price-payments .price-payments-item .payments-item-header {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    align-self: stretch;

    border-radius: unset;
    border-bottom: 1px solid #10121F50;
}
#new-camp #price .price-payments .price-payments-item .payments-rules {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
#new-camp #price .price-payments .price-payments-item .payments-rules.payments-rules-item {
    flex: 1;
    background-color: white;
    text-align: center;

    min-width: fit-content;
}

#new-camp #arena {
    /*background-color: #21212190;*/
    border-radius: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
#new-camp #arena .arena-header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    min-width: 100%;
}
#new-camp #arena .arena-list {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    padding-bottom: 5px;

    scrollbar-color: #FDEC81 transparent;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
#new-camp #arena .arena-list::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
    border-radius: 5px;
}
#new-camp #arena .arena-list::-webkit-scrollbar-thumb {
    background-color: #fffbd4;
    border-radius: 5px;
}
#new-camp #arena .arena-list .arena-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: .5rem;

    background-color: #ffffffcd;
    border-radius: 2rem;
    overflow: hidden;
    min-width: 350px;
    scroll-snap-align: center;
}
#new-camp #arena .arena-list .arena-item .arena-item-header {
    padding: 1rem;

    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    align-self: stretch;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
}
#new-camp #arena .arena-list .arena-item .arena-item-image {
    aspect-ratio: 16 / 10;
    background-size: cover;
    position: relative;

    border-radius: .5rem;
}
#new-camp #arena .arena-list .arena-item .arena-item-image svg {
    display: block;
}
#new-camp #arena .arena-list .arena-item .arena-item-image .arena-item-gallery {
    display: block;
    position: absolute;
    width: 2rem;

    bottom: 1rem;
    right: 1rem;
    padding: .75rem;

    box-shadow: 0 0 5px #212121;
    background-color: white;
    border-radius: 100%;
}
#new-camp #arena .arena-list .arena-item .arena-item-image svg g {
    stroke: #1B998B;
}
#new-camp #arena .arena-list .arena-item .arena-item-levels-list {
    display: flex;
    padding: 1rem .5rem 0 .5rem;
    gap: .5rem;
    flex-wrap: wrap;
}
#new-camp #arena .arena-list .arena-item .arena-item-levels-list .arena-item-level {
    flex: 1;
    min-width: 150px;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
    /*border: 1px solid #21212121;*/
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
    align-self: stretch;
    background-color: #DBD3E1;
}
#new-camp #arena .arena-list .arena-item .arena-item-address {
    padding: 1rem;
    margin: auto;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
}
#new-camp #arena .arena-list .arena-item .arena-item-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: .25rem
}
#new-camp #arena .arena-list .arena-item a {
    border-radius: .5rem;
}
#new-camp #arena .arena-list .arena-item .arena-schedule {
    background-color: #DBD3E1;
    border-color: white;

    opacity: .25;
}
#new-camp #arena .arena-list .arena-item a:first-child {
    border-radius: 2rem 2rem .5rem .5rem;
}
#new-camp #arena .arena-list .arena-item a:last-child {
    border-radius: .5rem .5rem 2rem 2rem;
}

#arenaListBullets {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block: -1rem;
}
#arenaListBullets .arenaBullet {
    content: '';
    width: .5rem;
    height: .5rem;
    background-color: #083D77;
    border: 1px solid white;
    border-radius: 100vmin;
    cursor: pointer;
    transition: all 1.4s ease-out;

    &:hover {
        scale: 1.5;
    }
}
#arenaListBullets .active {

}
#arenaListBullets .inactive {

}

#popupCamps {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    line-height: 1;
}

#scheduleVariants {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: .5rem;
    margin: auto;
}
#scheduleVariants .variant {
    text-decoration: none !important;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: #FDEC81;
    border: 2px solid white;
    font-family: 'CirceRounded', "Circe Rounded", Arial, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #10121F !important;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}

#popupCamps th,
#popupCamps td {
    background-color: #DBD3E1;
    border-radius: .2rem;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
    padding: 1rem 1rem .8rem 1rem;
    white-space: normal;
}
#popupCamps table {
    background-color: #756d7a;
    border-radius: .3rem;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
    animation: showPopupSchedule .5s ease-out forwards;
    margin: 2rem;
    width: unset;
}
#popupCamps th {
    background-color: #978c9f;
    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
    font-size: 1.1rem;
    color: white;
}
#popupCamps tr {
    opacity: 0;
}
#popupCamps .popDate {
    width: fit-content;
    background-color: #FEED79;
    text-align: center;
}
#popupCamps .popTitle {

}
#popupCamps .popTime {

}
#popupCamps #popupCampsTable tbody tr .closeButton {
    background: #BA3B46;
    color: white;
    text-align: center;
    cursor: pointer;
}
/*
*/
@media (max-width: 1024px) {
    #new-camp, #new-camp #camp-program,
    #new-camp #price,
    #new-camp #arena {
        padding: 1rem .5rem;
    }
    #new-camp .head {
        flex-direction: column;
    }
    #new-camp .head .head-img {
        /*order: 1;*/
        max-width: 400px;
    }
    #new-camp .head #camp-info,
    #new-camp .head .info,
    #new-camp .head .info .arenas {
        align-items: center;
    }
    #new-camp .head .info .head-buttons {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #new-camp .head .info .head-buttons a {
        flex: 1;
        min-width: fit-content;
        align-self: stretch;
    }
    #new-camp .head .info .arenas li {
        text-align: center;
    }
    #new-camp #camp-program .program-list .program-item,
    #new-camp #price .price-list .price-item,
    #new-camp #price .price-payments .price-payments-item {
        min-width: 300px;
    }
}
@media (max-width: 500px) {
    #new-camp .head .head-img {
        max-width: unset;
    }
    #new-camp #arena {
        padding: 1rem .5rem .5rem .5rem;
        border-radius: 1rem 1rem 2rem 2rem ;
    }
    #new-camp #arena .arena-list {
        padding: 0;
        border-radius: .5rem .5rem 1.5rem 1.5rem;
    }
    #new-camp #arena .arena-list .arena-item {
        min-width: 85%;
    }

    #popupCamps th, #popupCamps td {
        padding: .8rem 1rem .5rem 1rem;
    }

    #popupCamps table {
        margin: .5rem;
    }

    #arenaListBullets {
        margin-block: -1rem .5rem;
    }
}

@keyframes showPopupSchedule {
    from {opacity: 0; translate: 0 -1rem; transform: rotateX(30deg)}
    to {opacity: 1; translate: 0 0}
}
@keyframes hidePopupSchedule {
    from {opacity: 1; scale: 1}
    to {opacity: 0; scale: .8}
}
