:root {
    --aa: 80px;
    --a: 50px;
    --b: 31px;
    --c: 19px;
    --d: 12px;

    --line-a: calc(var(--a) / 0.8);
    --line-b: calc(var(--b) / 0.8);
    --line-c: calc(var(--c) / 0.8);

    --white: #fff;
    --blue: #3c64e6;
    --success: #25a843;
    --warning: #ECA400;
    --danger: #EA3546;
    --light: #f6f0eb;
    --dark: #342E37;
    --gray: #c6ccd3;
}
* {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}
::selection {
    text-shadow: none;
    color: var(--light);
    background: var(--blue);
}
body, html {
    font-family: 'Manrope', 'Helvetica', sans-serif;
    background-color: var(--light);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, .h1 {
    font-size: var(--a);
    font-weight: 800;
    line-height: var(--line-a);
    text-transform: uppercase;
}
h2, .h2 {
    font-size: var(--b);
    font-weight: 500;
    line-height: var(--line-b);
    color: var(--dark);
}
h3, .h3 {
    font-size: var(--c);
    font-weight: 300;
    line-height: var(--line-c);
}

    #hx-repaired {
        padding-block: var(--c);
        position: fixed;
        top: calc(var(--c) * 3);
        right: var(--c);
        text-align: center;
        transform: rotate(25deg);

        pointer-events: none;
        text-transform: uppercase;
        color: black;

        z-index: 3;
    }
    #hx-repaired::before {
        position: fixed;
        content: '';
        top: 0;
        left: 0;
        background-color: var(--warning);
        height: 100%;
        width: 400%;
        translate: -50%;

        z-index: -1;
        box-shadow: 0 0 10px #33333380;
    }

.hx-section {
    margin: var(--aa) auto;
    max-width: 1200px;
}
.hx-imgcase {
    max-width: 60%;
    aspect-ratio: 16 / 9;

    margin-right: var(--line-b);
    pointer-events: none;
}
.hx-case-button {
    display: block;

    background-color: var(--blue);
    padding: var(--c) var(--b);

    font-size: var(--b);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: var(--light);
    text-align: center;
    margin-top: var(--c);

    max-width: fit-content;
}

.hx-case-block {
    display: flex;
    border-bottom: 1px solid var(--gray);
}
.hx-case-clmn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: var(--c);
}

header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    height: 100%;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    text-align: center;

    border-right: 1px solid var(--gray);
}
header a{
    color: var(--dark);
    text-decoration: none;
}
header > * {
    padding: var(--a);
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: var(--c);
}
.hx-header {
}
.hx-header-socials {
    display: flex;
}
.hx-header-socials svg {
    fill: var(--dark);
    height: 2rem;
}

#hx-about {
    display: none;
}


.showOpacity {animation: showOpacity 1s ease-out}
@keyframes showOpacity {
    from {opacity: 0}
    to {opacity: 1}
}


/*
*/
@media screen and (min-width: 1300px) {
    .hx-section {
        margin-left: 12vw;
        max-width: 1000px;
    }

}

@media screen and (max-width: 1300px) {
    .hx-section {
        margin: var(--aa) auto;
        max-width: 1000px;
    }
    header > * {
        padding: 1rem;
    }
    .hx-imgcase {
        max-width: unset;
        margin-right: unset;
        border-radius: var(--d) var(--d) 2px 2px;
    }
    h2, .h2 {
        max-width: 90%;
    }

    .hx-case-block {
        flex-direction: column;
        gap: var(--d);
    }
    .hx-case-block:last-of-type {
        border-bottom: none;
    }

    header {
        /*position: fixed;*/
        top: auto;
        bottom: 0;
        left: 0;

        flex-direction: row;
        height: unset;
        width: 100%;

        border-right: unset;
        border-top: 1px solid var(--gray);

        z-index: 100;
        background-color: var(--light);
    }
    header > * {
        padding: var(--c);
        list-style: none;

        display: flex;
        flex-direction: row;
        gap: var(--c);
    }
    .hx-header {
    }
    .hx-header-socials {
        display: flex;
    }
    .hx-header-socials svg {
        fill: var(--dark);
        height: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .hx-section {
        padding-inline: 1rem;
    }
    h1, .h1, h2, .h2 {
        max-width: 70%;
    }
    #hx-repaired {
        font-size: var(--c);
    }
    .hx-case-button {
        font-size: var(--c);
    }
    #hx-repaired {
        top: var(--c);
    }
}

@media screen and (max-width: 640px) {
    h1, .h1 {
        font-size: calc(var(--b) * 1.5);
        line-height: calc(var(--line-b) * 1.2);
    }
}

@media screen and (max-width: 480px) {
    h1, .h1 {
        font-size: var(--b);
        line-height: var(--line-b);
    }
    #hx-repaired {
        padding-block: var(--d);
        position: fixed;
        top: 0;
        right: 50%;
        translate: 50%;
        transform: unset;
        line-height: 1rem;
    }
    body {
        padding-top: var(--aa);
    }

    h1, .h1, h2, .h2 {
        max-width: unset;
    }

    .hx-section {
        margin: var(--a) auto;
    }
}

@media screen and (max-width: 400px) {
    .hx-header-socials {
        flex-wrap: wrap;

        justify-content: space-around;
    }
    .hx-header-socials svg {
        height: 1.5rem;
    }
    #hx-repaired {
        font-size: calc(var(--c) * 0.8);
    }
}