@import "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css";
.swiper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    height: 3rem;
    padding-inline: 1rem;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
    /*max-height: 30px;*/
}
.swiper-slide { display: inline-block; overflow: hidden; }
.swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: white;
    color: #019EF7;
    border: 1px solid #019EF7;
    aspect-ratio: 1/1;
    cursor: pointer;
    border-radius: 100vmin;
}
.swiper-button-left {
    left: 0;
}
.swiper-button-right {
    right: 0;
}

@media screen and (max-width: 640px) {
    .swiper {
        height: 100px;
    }
}