#rec763931210 {
    position: sticky;
    top: 0;
    z-index: 100500;
}
#newHeader {
    padding: 1rem 2rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100500;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
}
#newHeader * {
    margin: 0;
    padding: 0;
}
#newHeader a {
    color: inherit;
    text-decoration: none;
}
#headerLogo img {
    display: block;
    max-height: 2rem;
}
#headerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.listHeader p {
    padding-block: 1rem;
}
.listHeader {
    cursor: pointer;
    overflow: hidden;
}
.listHidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px #00000030;
    border-radius: .5rem;
    overflow: hidden;
}
.listHidden > a {
    height: 0;
    opacity: 0;
    margin: 0;
    transform: rotate3d(2, 0, 0, 60deg);
}
#headerTel a {
    color: #007177;
    font-weight: 600;
}
#mobileBurger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 2rem;
    width: 2rem;
}
.burgerLines {
    height: 2px;
    background-color: #007177;
    border-radius: 1px;
    width: 90%;

    rotate: 0;
    opacity: 1;
    translate: 0;
    transition: rotate .3s ease-out, opacity .3s ease-out, translate .4s ease-out;
}
.arrow {
    font-size: .9rem;
}

.mobileMenuShow {
    position: fixed;
    top: 6rem;
    left: 50%;
    translate: -50% 0;
    display: flex;
    height: calc(100% - 4rem);
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

@keyframes showListItem {
    to {
        height: 1rem;
        opacity: 1;
        translate: 0 0;
        margin: .5rem;
        transform: rotate3d(0, 0, 0, 60deg);
    }
}
@keyframes hideListItem {
    from {
        height: 1rem;
        opacity: .5;
        margin: .5rem;
        transform: rotate3d(0, 0, 0, 60deg);
    }
    to {
        height: 0;
        margin: 0;
        transform: rotate3d(2, 0, 0, 60deg);
    }
}

@media screen and (max-width: 1024px) {
    #headerMenu, #headerTel {
        display: none;
    }
    header {
        padding: .5rem;
    }
    #headerMenu div p {
        padding: 0;
        margin: 0;
    }
    #mobileBurger {
        display: flex;
    }
    #headerMenu {
    }
    .listHidden {
        position: initial;
        box-shadow: none;
        color: #007177;
    }
}