/*Стили для таблиц*/


.table_div {
     /* max-width: 40%; */
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 1 0 0;
     overflow-x: auto;
     overflow-y: auto;
 }
.new {
    font-size: 1rem;
    text-align: center;
    background-color: #FEED79;
    font-weight: 450;
    border: 1px solid #A294AD;
}

.deviv {
    border: none;
    padding: 0.5rem;
    background-color: transparent;
}

.days {
    font-size: 1rem;
    text-align: center;
    background-color: #DBD3E1!important;
    font-weight: 450;
    border: 1px solid #A294AD;
}

.person {
    background-color: #BDBBDA;
}

table {
    width: 90%;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: 'CirceRounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
}

td, th {
    border: 1px solid #A294AD;
    padding: 2px 5px;
    background-color: #E5DDEC;
    text-align: center;
    white-space: nowrap;
    width: auto;
}
.vertical {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.vertical td {
    white-space: unset;
}


.maxw {
    max-width: 400px;
}


/* Media */

@media (max-width: 960px) {
    .days {
        font-size: 0.8rem;
    }
    table {
        font-size: 1rem;
        width: 100%;
    }
    td, th {
        padding: 1.5px 4px;
    }
}

/* new horizontal */
#golden-horizontal {
    position: relative;
    display: flex;
    gap: 50px;
    max-width: 1200px;
    background-color: #d4c5e0;
    translate: -50%;
    left: 50%;
    padding-bottom: 1rem;
}
.golden-h-img {
    content: '';
    min-width: 60%;
    background-image: url("https://thumb.tildacdn.com/tild3331-6230-4863-a535-363633346261/-/format/webp/IMG_4430.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: visible;
}
.h1-tables {
    font-family: 'Playfair Display',serif;
    color: #383838;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;

    margin: 3rem 0 2rem 0;
    max-width: 1200px;
    position: relative;
    left: 50%;
    translate: -50%;
}
@media screen and (max-width: 600px) {
    .golden-h-img {
        display: none;
        min-width: unset;
    }
    .h1-tables {
        font-size: 2rem;
        margin: 3rem 0 2rem 2rem;
    }
    #golden-horizontal {
        padding: 0 5px 1rem 5px;
    }
}


/* gi filters */
#gi-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    /*background-color: #d4c5e0;*/

    max-width: 1200px;
    position: relative;
    translate: -50%;
    left: 50%;
    padding-bottom: 1rem;
}
.gi-filter {
    flex: 1 0 0;
    padding: 1rem 2rem;

    border-radius: 1rem;
    border: 2px solid #FFFFFF90;
    background-color: #d4c5e0;
    cursor: pointer;
    color: #111;

    min-width: fit-content;
    text-align: center;

    font-family: 'CirceRounded', 'Circe Rounded', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;

    transition: all .3s ease-out;
}
.gi-filter:hover, .gi-active {
    box-shadow: 0 3px 10px 0 rgba(89, 89, 89, 0.2);
    background: #ffef8f;
}

.tables-filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.tables-in {
    width: 100%;
}

@keyframes clicked {
    from {scale: 0.9}
    to {scale: 1}
}
@media screen and (max-width: 600px) {
    #gi-filters {
        padding: 15px 15px 1rem 15px;
    }
}