/*Стили для таблиц*/


.table_div {
     /* max-width: 40%; */
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 1 0 0;
     overflow-x: auto;
     overflow-y: auto;
 }
.new {
    font-size: 1rem;
    text-align: center;
    background-color: #FEED79;
    font-weight: 450;
    border: 1px solid #A294AD;
}

.deviv {
    border: none;
    padding: 0.5rem;
    background-color: transparent;
}

.days {
    font-size: 1rem;
    text-align: center;
    background-color: #DBD3E1!important;
    font-weight: 450;
    border: 1px solid #A294AD;
}

.person {
    background-color: #BDBBDA;
}

table {
    width: 90%;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: 'CirceRounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
}

td, th {
    border: 1px solid #A294AD;
    padding: 2px 5px;
    background-color: #E5DDEC;
    text-align: center;
    white-space: nowrap;
    width: auto;
}
.vertical {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.vertical td {
    white-space: unset;
}


.maxw {
    max-width: 400px;
}


/* Media */

@media (max-width: 960px) {
    .days {
        font-size: 0.7rem;
        /*text-align: left;*/
    }
    table {
        font-size: 1rem;
        width: 100%;
    }
    td, th {
        padding: 1.5px 4px;
        /*text-align: left;*/
    }
}

/* new horizontal */


#golden-horizontal {
    position: relative;
    display: flex;
    gap: 50px;
    max-width: 1200px;
    background-color: #d4c5e0;
    translate: -50%;
    left: 50%;
}
.golden-h-img {
    content: '';
    min-width: 60%;
    background-image: url("https://thumb.tildacdn.com/tild3331-6230-4863-a535-363633346261/-/format/webp/IMG_4430.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: visible;
}
@media screen and (max-width: 600px) {
    .golden-h-img {
        display: none;
        min-width: unset;
    }
}