@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');
/*
*/

:root {
    --back: #1e1b23;
    --back-o: rgba(19, 18, 21, 0.87);
    --white: #EEF0F2;
    --white-o: #EEF0F2de;
    --white-oo: #EEF0F250;
    --good : #158763;
    --bad: #EF767A;
    --blue: #0081AF;
    --wine: #A4315B;

    --unbounded: "Unbounded", sans-serif;
    --roboto: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: var(--white-o) var(--back);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
    background: #F8F3C8;
    border-radius: 1rem;
}
::-webkit-scrollbar-track {
    background: #222;
    padding: 2px;
}
body {
    background: url("https://thumb.tildacdn.com/tild3963-6339-4231-a231-633830323034/-/format/webp/pattern5.png") var(--back) fixed;
    background-size: 5rem;
    font-family: var(--roboto);
    color: var(--white);
}

/*#multi-page {*/
    #multi-page {
        display: flex;
        flex-direction: column;
    }
    section {
        max-width: 1400px;
        margin: 2.5rem auto;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        border-radius: 2rem;
    }

    .blur {
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
    .shadow {
        box-shadow: 0 0 20px #111111;
    }
    .border {
        border: 1px solid #ffffff20;
    }

    h1, .h1 {
        font-size: 2.3rem;
        line-height: 1;
        font-family: var(--unbounded);
        font-weight: 600;
    }
    h2, .h2 {
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 400;
        font-family: var(--unbounded);
    }
    h3, .h3 {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: var(--unbounded);
    }
    h4, .h4 {
        font-size: 1.6rem;
        font-weight: 300;
    }
    p, .p {
        font-size: 1.1rem;
    }

    nav {
        position: sticky;
        top: 1rem;

        width: fit-content;
        max-width: 1200px;
        margin: 0 auto;

        padding: 1rem;
        z-index: 100500800;
        background-color: var(--wine);
        border-radius: 2rem;

        transition: height .5s ease-out, opacity .5s ease-out;
    }
    nav ul {
        flex: 1;
        list-style: none !important;
        padding: 0 !important;
        margin: 0 !important;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: .5rem 1rem;
        transition: height .3s ease-out;
    }
    nav ul li {
        display: flex;
        min-width: fit-content;
        transition: height .5s ease-out, opacity .5s ease-out;

    }
    nav ul .navPCItem {
    }
    nav ul .navPCItem a {
        color: var(--white) !important;
        text-decoration: none !important;
        padding: .5rem 1rem;
        cursor: pointer;
        border-radius: 100vmin;

        transition: background .2s ease-out, color .1s ease-out;
    }
    nav ul .navPCItem a:hover {
        background-color: var(--white-o);
        color: var(--back-o) !important;
    }
    nav li:not(.navPCItem) {
        display: none;
    }
    #mobileNavStroke, #monMenuButton {
        transition: all ease-out .5s;
    }

    header {
    }
    header h2 {
        font-family: var(--roboto);
    }
    header #hero {
        min-height: calc(100dvh - 8rem);
        max-width: unset;
        margin: 2rem auto;
        margin-inline: 2rem;

        position: relative;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        border-radius: 2rem;
    }
    header #hero > * {
        max-width: 1200px;
        width: 100%;
    }

    header #hero #hero-video {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        overflow: hidden;
        max-width: unset;
    }
    header #hero #hero-video iframe {
        pointer-events: none;
        min-width: 100%;
        min-height: 100%;
        aspect-ratio: 16 / 9;

        background-color: var(--back-o);

        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        opacity: .8;
    }

    header #hero #booking {
        background-color: var(--back-o);
        width: 100%;
        padding: 2rem 4rem;
        border-radius: 1rem;
    }
        .znms-widget__module-form-block {
            top: auto !important;
            bottom: 3rem !important;
            left: 3rem !important;
            right: 3rem !important;
            border-radius: 2rem !important;
        }
        .znms-widget__module-form-block__wrap {
        max-width: unset !important;
    }
        .znms-widget__v-color8 {
            background-color: var(--wine) !important;
        }

    header #hero #head-lines {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        margin-block: auto;
    }

    #popup-block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100dvh;
        z-index: 100500900;
        overflow-y: auto;

        background-color: var(--back-o);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-block: 0 2rem;
        gap: 2rem;

        opacity: 0;
        animation: showpopup .3s ease-out forwards;
    }
    #popup-block .weather {
        background-color: var(--blue);
        max-width: 1200px;
        border-radius: 1rem;
        width: 100%;
    }
    #popup-block .weather > a {
        border-radius: 1rem;
    }
    #popup-block #video-stream {
        max-width: 1200px;
        border-radius: 1rem;
        width: 100%;
        aspect-ratio: 16 / 9 !important;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    #popup-block #video-stream .sldp_player_wrp {
        border-radius: 1rem;
    }
    #popup-block #video-stream .sldp_player_wrp  video {
        border-radius: 1rem;
    }
    .sldp_volume_desktop {
        display: none;
    }
    #popup-block #close-popup {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 50px;
        height: 50px;
        background-color: transparent;
        cursor: pointer;
    }

    #info-block {
        z-index: 2;

        background-color: var(--back);

        width: unset !important;
        max-width: fit-content;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 1rem;
        gap: 2rem;
        align-self: center;
    }
    #info-block #header-socials {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    #info-block > .header-info-buttons {
        padding: .5rem 1rem;
        background-color: var(--white-o);
        border-radius: .5rem;
        width: fit-content;
        text-align: center;
        color: var(--back) !important;
    }
    #info-block > a {
        color: var(--white) !important;
        text-decoration: none !important;
        width: fit-content;
    }
    #info-block svg {
        display: block;
        height: 1.5rem;
    }

    #weatherTest {
        display: flex;
        gap: .5rem;
        max-width: 1200px;
        background-color: var(--blue);
        padding: .5rem;
        border-radius: 0 0 2rem 2rem;
    }
    #weatherTest * {
        transition: all .3s ease-out;
    }
    #weatherTest .weatherDay {
    }
    #weatherTest .todayHeader {
        font-family: var(--unbounded);
        padding: 0 1rem .5rem 1rem;
        text-align: center;
    }
    #weatherTest .hourly {
        flex: 1;
        color: var(--back);
        font-size: 1rem;
        padding: .5rem;
        background-color: var(--white);
        border-radius: 1.5rem;
    }
    #weatherTest .hourly .hour {
        padding: .25rem;
        font-size: 1rem;
    }
    #weatherTest .hourly .morning {

    }
    #weatherTest .hourly .day {

    }
    #weatherTest .hourly .evening {

    }
/*}*/

@keyframes showpopup {
    from { opacity: 0; translate: 0 -2rem}
    to { opacity: 1; translate: 0 0}
}
@keyframes hidepopup {
    from { opacity: 1; translate: 0 0 }
    to { opacity: 0; translate: 0 -2rem}
}

/*
*/
@media screen and (max-width: 1200px) and (min-width: 600px){
    nav {
        margin: 0 2rem;
    }
    header #hero #head-lines {
        margin-block: 2rem auto;
        text-align: center;
    }
}
@media screen and (max-width: 1000px) {
    .znms-widget__module-form-block {
        bottom: 1rem !important;
    }
}
@media screen and (max-width: 600px) {
    #multi-page {
        gap: .25rem;
    }
    nav {
        margin: .5rem;
        width: calc(100% - 1rem);
        max-height: unset;
        top: 0;
        padding: .5rem;
        height: 4rem;
    }
    nav ul {
        height: 100%;
    }
    nav ul .navPCItem {
        display: none;
    }
    #mobileNavStroke {
        width: 100%;
        margin-top: auto;
    }
    #mobileNavStroke ul {
        justify-content: space-between;
    }
    nav li:not(.navPCItem) {
        display: unset;
    }
    nav #mobLogo {
        max-height: 50px;
        display: block;
        border-radius: 100vmin;
    }
    nav #monMenuButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        height: 50px;
        aspect-ratio: 1 / 1;
        border-radius: 100vmin;
        border: 1px solid var(--white);
    }
    nav #monMenuButton .menuButtonHR {
        width: 50%;
        height: 2px;
        background-color: var(--white);
        border-radius: 100vmin;
    }
    header #hero {
        margin: .25rem;
        margin-inline: .5rem;
        min-height: calc(100dvh - 6rem);
        padding: .5rem;
    }
    #info-block {
        transform: unset;
        background-color: var(--back-o);
        border-radius: 1.75rem;
        gap: 1rem;
    }
    #info-block *:nth-child(2){
        order: 2;
    }
    header #hero #booking {
        border-radius: 1.75rem;
        height: 50dvw;
        margin-top: unset;
    }
        .znms-widget__module-form-block {
        bottom: 0 !important;
        left: 0 !important;
    }
    #head-lines {
        padding-inline: 1rem;
        padding-block: 3rem;
    }

    #popup-block {
        padding-block: 2rem;
    }
    #weatherTest {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        gap: .25rem;
        flex-wrap: wrap;
        border-radius: 0;
    }
    #weatherTest p {
        text-align: center;
    }
    #weatherTest .weatherDay:nth-child(1) {
        width: 100%;
    }
    #weatherTest .weatherDay:not(:nth-child(1)) {
        flex: 1;
    }
    #weatherTest .weatherDay:not(:nth-child(1)) .morning,
    #weatherTest .weatherDay:not(:nth-child(1)) .evening {
        display: none;
    }
}