@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');
@import url('https://holyxey.github.io/public/Terruar/multipage/stylesheets/season.css');

:root {
  --holyxey-back: #1e1b23;
  --holyxey-back-o: #131215dd;
  --holyxey-back-img: url('https://thumb.tildacdn.com/tild3963-6339-4231-a231-633830323034/-/format/webp/pattern5.png.webp')
    center/5rem fixed;
  --holyxey-white: #eef0f2;
  --holyxey-white-o: #eef0f2de;
  --holyxey-white-oo: #eef0f250;
  --holyxey-good: #158763;
  --holyxey-bad: #ef767a;
  --holyxey-blue: #0081af;
  --holyxey-wine: #a4315b;
  --holyxey-yellow: #f8f3c8;

  --holyxey-unbounded: 'Unbounded', sans-serif;
  --holyxey-roboto: 'Roboto', sans-serif;

  --animation-cubic: cubic-bezier(0.3, 1.3, 0.7, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-color: var(--holyxey-white-o) var(--holyxey-back);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  background: var(--holyxey-back-img) var(--holyxey-back);
  font-family: var(--holyxey-roboto);
  color: var(--holyxey-white);
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: #f8f3c8;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar {
  height: 2px;
  width: 2px;
  background: transparent;
}

#multi-page {
  width: 100%;
}

#multi-page ul,
footer ul {
  list-style: none !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

#multi-page h1 {
  font-size: 2.3rem;
  font-family: var(--holyxey-unbounded);
  line-height: 1;
  color: var(--holyxey-yellow);
  font-weight: 500;
}

#multi-page h2 {
  font-size: 1.2rem;
  font-family: var(--holyxey-roboto);
  font-weight: 300;
  line-height: 1;
}

#multi-page h2.popUpHeader {
  font-size: 2rem;
  font-weight: 500;
}

#multi-page h3 {
  font-size: 2rem;
  font-family: var(--holyxey-unbounded);
  font-weight: 400;
  line-height: 1;
}

#multi-page .blur {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

#multi-page .shadow {
  box-shadow: 0 0 30px #1e1b23;
}

#multi-page .border {
  border: 1px solid #ffffff20;
}

.hideMobile {
  display: inherit !important;
}

.hidePC {
  display: none !important;
}

.counterBlock {
  display: none;
}

.hideIfPopUp {
  animation: hidepopup 1s ease-in-out forwards;
}

*:has(> .a-tape) {
  position: relative;
  overflow: hidden;
  /*filter: grayscale(100);*/
}

.a-tape {
  content: 'ЗАКРЫТО НА СЕЗОН';
  background-color: yellow;
  position: absolute;
  width: 150%;
  height: fit-content;
  left: -1rem;
  bottom: 10%;
  rotate: -10deg;
  padding-block: 0.5rem;
  box-shadow: 0 0 2rem #000000;

  display: flex;
  gap: 1rem;
  filter: grayscale(0);
}

.a-tape p {
  font-family: 'Raleway', 'Roboto', Tahoma, Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  min-width: fit-content;
  color: var(--holyxey-back-o);
  /*animation: tapeAnim 10s linear infinite;*/
}

/*nav*/
#multi-page nav {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;

  z-index: 9999;
}

#multi-page nav * {
  transition: 0.3s;
}

#multi-page menu#menuList {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  width: fit-content;
  margin-inline: 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.25rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;

  background-color: var(--holyxey-wine);
}

#multi-page menu#menuList li.navPCItem {
  width: fit-content;
  margin-inline: auto;
}

#multi-page menu#menuList li.navPCItem.navCTA {
  background: url('https://optim.tildacdn.com/tild3963-6339-4231-a231-633830323034/-/format/webp/pattern5.png')
    var(--holyxey-back) fixed;
  background-size: 5rem;
  border-radius: 100vmin;
}

#multi-page menu#menuList li.navPCItem a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none !important;
  color: var(--holyxey-white);
  border-radius: 100vmin;
  cursor: pointer;
  text-align: center;

  &:hover {
    transition:
      color 0.3s,
      background-color 0.3s;
    background-color: var(--holyxey-white);
    color: var(--holyxey-back);
  }
}

#multi-page menu#menuList li#mobileNavStroke {
  display: none;
}

#multi-page menu#menuList li#mobileNavStroke img {
  display: block;
}

#multi-page menu#menuList li#mobileNavStroke ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#multi-page menu#menuList li#mobileNavStroke ul li {
}

#multi-page menu#menuList li#mobileNavStroke ul #mobLogo {
  height: 3rem;
  width: 3rem;
}

#multi-page menu#menuList li#mobileNavStroke ul #monMenuButton {
  height: 3rem;
  width: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--holyxey-wine);
  border: 1px solid var(--holyxey-white-o);
  border-radius: 100vmin;
}

#multi-page menu#menuList li#mobileNavStroke ul #monMenuButton .menuButtonHR {
  width: 60%;
  height: 1px;
  background-color: var(--holyxey-white-o);
}

/*!nav*/

/*Header*/
#multi-page header #hero {
  position: relative;
  max-width: 1400px;
  margin: auto;
  padding: 1rem;

  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 2rem;

  transition: all 0.3s ease-in-out;
}

#multi-page header #hero[data-nomain='services'] {
}

#multi-page header #hero #heroHeadlineContainer {
}

#multi-page header #hero #heroTextBlock {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-block: 2rem;
}

/**/
#multi-page header #hero #heroTextBlock #heroPreferences {
  display: flex;
  gap: 2rem 1rem;
  flex-wrap: wrap;
  padding-block: 2rem;
  min-width: 200px;
}

/* Хайлайты hero */
#multi-page header #hero #heroTextBlock .heroPreferencesBlock {
  flex: 1 0 250px;
}

#multi-page header #hero #heroTextBlock .heroPreferencesBlock svg {
  height: 25px;
  display: block;
  float: left;
  margin: auto 1rem auto 0;
}

#multi-page header #hero #heroTextBlock .heroPreferencesBlock .blockTitle {
  font-size: 1.2rem;
  /*padding-bottom: 1rem;*/
  /*padding-top: 0.25rem;*/
  vertical-align: middle;
  margin-bottom: 0.5rem;
  padding: 0;
  color: var(--holyxey-white);
}

#multi-page header #hero #heroTextBlock .heroPreferencesBlock .blockText {
  font-size: 1rem;
  color: var(--holyxey-white-o);
}

#multi-page header #hero #heroImageBlock {
  background: url(https://optim.tildacdn.com/tild6164-6236-4335-b061-383633653530/-/format/webp/DSC_8864_1.png)
    center / cover;
  flex: 1;
  border-radius: 3rem;
  min-height: 300px;
  min-width: 550px;
}

#multi-page.services header #hero #heroImageBlock {
  background: url(https://optim.tildacdn.com/tild6563-3566-4264-b733-383436336232/-/format/webp/active.jpg)
    center / cover;
}

#multi-page.variants header #hero #heroImageBlock {
  background: url(https://thumb.tildacdn.com/tild3335-6365-4564-b639-333062663937/-/format/webp/5ZN_2626.jpg)
    center / cover;
}

#multi-page header #hero[data-nomain='2025'] #heroImageBlock {
  background-image: url('https://static.tildacdn.com/tild3966-3733-4237-b834-333435613261/ny_main_bg.png');
}
#multi-page header #hero[data-nomain='2026'] #heroImageBlock {
  background-image: url('https://optim.tildacdn.com/tild3236-3936-4537-b064-353061306230/-/format/webp/2026.jpg.webp');
}

/**/
#multi-page header #heroContactButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

/* Кнопки в hero */
#multi-page header #heroContactButtons .heroButton {
  display: block;
  background-color: var(--holyxey-white);
  padding: 0.7rem 2rem;
  border-radius: 100vmin;

  text-decoration: none !important;
  color: var(--holyxey-back) !important;
}

#multi-page header #heroContactButtons .heroButton.phone {
  background-color: var(--holyxey-wine);
  color: var(--holyxey-white) !important;
}

#multi-page header #heroContactButtons .heroButton.book {
  background-color: var(--holyxey-yellow);
  color: var(--holyxey-back) !important;
}

#multi-page header #heroContactButtons .heroSocialButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#multi-page header #heroContactButtons .heroSocialButtons a {
  text-decoration: none !important;
}

#multi-page header #heroContactButtons .heroSocialButtons svg {
  margin: auto 0.5rem;
  height: 1.5rem;
  display: block;
  transition: scale 0.1s ease-in;
}

#multi-page header #heroContactButtons .heroSocialButtons svg:hover {
  scale: 1.1;
}

#multi-page header #hero #booking {
  background-color: var(--holyxey-back-o);
  width: 100%;
  padding: 2rem 4rem;
  border-radius: 1rem;
}

/* znms */
.znms-widget__teleporter button[type='submit'] {
  background-color: var(--holyxey-wine) !important;
}

.znms-widget__teleporter .znms-widget__module-form-block {
  background: var(--holyxey-back-o);
  border-radius: 2rem !important;
  max-width: 1400px;
}

.znms-widget__teleporter .znms-widget__input-people-counter-horizontal {
  display: none !important;
}

.znms-widget__brononline_popup_full
  .znms-widget__place_form
  button[type='submit'] {
  background-color: var(--holyxey-wine) !important;
}

.znms-widget__brononline_popup_full .znms-widget__btn {
  background-color: var(--holyxey-wine) !important;
  border-color: var(--holyxey-wine) !important;
  color: var(--holyxey-white) !important;
}

.znms-widget__brononline_popup_full .znms-widget__btn2 {
  border: 1px solid var(--holyxey-wine) !important;
  color: var(--holyxey-wine) !important;
}

.znms-widget__brononline_popup_full .znms-widget__btn2:hover {
  border: 1px solid var(--holyxey-wine) !important;
  color: var(--holyxey-white) !important;
  background-color: var(--holyxey-wine) !important;
}

.znms-widget__brononline_popup_full [class^='znms-widget__icon-'] {
  color: var(--holyxey-wine) !important;
}

/**/
#znms-widget-1 {
  z-index: 999999 !important;
  padding-inline: 0.5rem;
}

#znms-widget-1 > div {
  background-color: var(--holyxey-back-o);
  border-radius: 2rem;
  margin-inline: auto;
  max-width: 1400px;
}

#znms-widget-floating-0,
.znms-widget__widget-btn {
  display: none !important;
}

.counter-guest {
  display: none;
}

a[href^="https://bronirui-online.ru/module?utm_source"]
{
  display: none !important;
}

.znms-widget__module-form-block__title {
  color: var(--holyxey-white) !important;
}

/* !znms */

/* needToRender (base design) */
.classic-sec {
  width: 100%;
  max-width: 1400px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.classic-ip {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
  justify-content: center;
  position: relative;
}

.classic-hb {
  display: flex;
  /*flex-wrap: wrap;*/
  padding-left: 3rem;
  padding-right: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.w-btn {
  justify-content: space-between;
  flex-direction: row;
}

.w-btn > h3 {
  width: 100%;
  font-size: 2rem;
  font-family: var(--holyxey-unbounded);
  font-weight: 400;
  line-height: 1;
}

.w-btn > * {
  min-width: fit-content;
}

.classic-art {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 3rem;
  margin-inline: 0.5rem;
  cursor: pointer;
  background-color: var(--holyxey-back-o);
  border: 1px solid transparent;
  transition: scale 0.3s ease-out;
}

.classic-art-hb {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 0.7rem;
  position: relative;
}

.classic-art-header {
  font-family: var(--holyxey-unbounded);
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--holyxey-yellow);
}

.classic-art-descr {
  font-size: 1.1rem;
  font-family: var(--holyxey-roboto);
  font-weight: 300;
  color: var(--holyxey-white-o);
}

.classic-art-imgBlck {
  flex: 1;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
  position: relative;
}

.classic-art-img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.classic-art-link {
  text-decoration: none !important;
  color: var(--holyxey-white) !important;
  margin: 0 1rem 0 auto;
}

.classic-art-icon {
  position: absolute;
  left: 1rem;
  width: 24px;
}

.classic-header-button-first {
  /*background-color: var(--holyxey-wine);*/
  background-color: var(--holyxey-yellow);
  color: var(--holyxey-back-o) !important;
  width: fit-content;
  text-decoration: none !important;
  padding: 0.7rem 1.4rem;
  border-radius: 100vmin;
  text-align: center;
  align-content: center;
  cursor: pointer;
  display: block;
  float: left;
}

/* !needToRender */

/* second design */
.classic-sec-second {
}

.classic-hb-second {
}

.classic-ip-second {
}

.classic-art-second {
  flex: 1 0 30%;
  max-width: calc(1400px / 3);
}

.classic-art-hb-second {
}

.classic-art-header-second {
}

.classic-art-descr-second {
}

.classic-art-imgBlck-second {
}

.classic-art-img-second {
}

.classic-art-link-second {
}

/* !second design */

/* reviews */
#reviews .classic-ip {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

#reviews iframe {
  flex: 0.6;
  height: 80vh;
  border-radius: 2rem;
  border: none;
}

#reviews .reviews-gallery {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;
  border-radius: 3rem;
}

#reviews .reviews-gallery .reviews-gallery-imgblock {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: calc(50% - 0.5rem);
  min-width: calc(30% - 0.5rem);
  border-radius: 2rem;
}

#reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(2),
#reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(3) {
  flex: 2;
  min-width: calc(60% - 0.5rem);
}

#reviews .reviews-gallery .reviews-gallery-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* !reviews */

/* TODO удали после новых вариантов .variantsList */
/* variants */

.variantBlock {
  flex: 1 0 300px;
  background-color: var(--holyxey-back-o);
  margin-inline: 0.5rem;
  padding: 1rem;
  border-radius: 3rem;
  cursor: pointer;
  scroll-snap-align: center;
}

.variantBlock .variantHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}

.variantBlock .openVariantGallery {
  margin-left: auto;
}

.variantBlock .variantPreviewImage {
  background-size: cover;
  background-position: center;
  margin-top: 0.5rem;
  border-radius: 1rem 1rem 2rem 2rem;
  min-height: 200px;
}

.variantBlock .showMore {
  padding: 0.5rem 1.5rem 0 1rem;
  text-align: right;
}

/* !variants */

/* Новые варианты */

.preview.variantsList {
  overflow-x: auto;
  flex-wrap: nowrap;

  scroll-snap-type: x mandatory;
}

.variantsList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  scrollbar-width: none;
  padding: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.variantsList .varItem {
  position: relative;
  flex: 1;
  background: var(--holyxey-back-o);
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  max-width: 500px;
  min-width: fit-content;
  height: fit-content;
  scroll-snap-align: center;
  user-select: none;

  &:hover {
    scale: 1.01;
  }

  &:active {
    scale: 0.99;
  }
}

.variantsList .varItem .varHeader {
  display: flex;
  gap: 0.75rem;
  padding-inline: 1rem;
}
.variantsList .varItem .varHeader h1 {
  font-size: 1.3rem !important;
  font-weight: 400 !important;
}

.variantsList .varItem .varHeader .varIcon * {
  fill: var(--holyxey-bad);
}

.variantsList .varItem .varHeader .varTitle {
  font-family: var(--holyxey-unbounded);
  color: var(--holyxey-yellow);
  font-size: 1.25rem;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.variantsList .varItem .varDescription {
  padding-inline: 1rem;
}

.variantsList .varItem .varPreviewWrapper {
  position: relative;
  gap: 0.25rem;
}
.variantsList .varItem .varPreviewWrapper .varPreview {
  display: block;
  object-fit: cover;
  aspect-ratio: 5 / 3;
  margin-top: 0.75rem;
  width: 300px;
  border-radius: 1rem 1rem 0 0;
  pointer-events: none;
}
.variantsList .varItem .varPreviewWrapper .varPreviewOverlay {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.75rem;
  background: var(--holyxey-back-o);

  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  font-size: 0.8rem;

  transition: all 0.3s ease-out;
  color: var(--holyxey-back) !important;
}
.variantsList .varItem .varPreviewWrapper .varPreviewOverlay span {
  /* box-shadow: 0 0 1rem var(--holyxey-back); */
  background-color: var(--holyxey-yellow);
  border: 1px solid var(--holyxey-back);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.15rem;
}
.variantsList .varItem .varPreviewButton {
  display: block !important;
  border: none !important;
  font-size: 1rem !important;
  margin-top: 2px !important;
  width: 100% !important;
  background-color: var(--holyxey-wine) !important;
  color: var(--holyxey-white) !important;
  padding: 0.75rem !important;
  border-radius: 0 0 1rem 1rem !important;
  pointer-events: none !important;
}

/* ! Новые варианты */

/* about */
#about {
}

#about #aboutBlock {
  background: url(https://thumb.tildacdn.com/tild3734-3333-4335-b235-623766363464/-/format/webp/KIR_3234.jpg)
    center center no-repeat;
  background-size: cover;
  padding-inline: 0.5rem;
  border-radius: 3rem;
  padding: 1rem;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#about #aboutBlock .aboutInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  padding: 2rem;
  background-color: var(--holyxey-back);
  border-radius: 2rem;
}

#about #aboutBlock .aboutInfo.whyTerruar {
  opacity: 0;
  height: 0;
  color: var(--holyxey-yellow);
}

#about #aboutBlock .aboutInfo p {
  font-size: 1.1rem;
  color: var(--holyxey-white-o);
}

/* !about */

/* offers */
#offers {
}

#offers .offer.active {
  cursor: pointer;
  min-width: 300px;
}

#offers .offer.active .offerTitleBlock {
  background-color: var(--holyxey-yellow);
  margin-bottom: 10rem;
}

#offers .offer {
  flex: 1;
  background-size: cover;
  background-position: center;

  min-width: 400px;
  margin-inline: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;

  max-width: 500px;
  scroll-snap-align: center;
}

#offers .offer .classic-ip {
  scroll-snap-type: x mandatory;
}

#offers .offer .offerTitleBlock {
  background-color: var(--holyxey-white-o);
  border-radius: 1rem;
  margin-bottom: 7rem;
  color: var(--holyxey-back);
  padding: 1rem;
  position: relative;
}

#offers .offer .offerTitleBlock > h4 {
  font-family: var(--holyxey-unbounded);
  padding-bottom: 0.5rem;
}

#offers .offer .offerTitleBlock .infoIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
}

#offers .offer {
}

.offerPopupBlock {
}

.offerPopupBlock * {
  animation: showpopup 0.3s ease-out forwards;
}

.offerPopupBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 500px;
}

.offerPopupBlock .preview {
  flex: 1;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  min-width: 300px;
  min-height: 300px;
  position: relative;
}

.offerPopupBlock .preview .percentage {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
  font-family: var(--holyxey-unbounded);
  font-size: 1.5rem;
  opacity: 0;

  animation: percentage 1s 1.5s ease-out forwards;
}

.offerPopupBlock .info {
  flex: 1;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

.offerPopupBlock .info .infoTitle {
  font-family: var(--holyxey-unbounded);
  font-size: 1.5rem;
}

.offerPopupBlock .info #infoHL {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.offerPopupBlock .info #infoHL .hl {
  padding: 0.75rem 1rem;
  background-color: var(--holyxey-yellow);
  border-radius: 1rem;
  color: var(--holyxey-back);
}

.offerPopupBlock .info #infoText {
}

.offerPopupBlock .info #infoText .infoText {
  padding-block: 0.5rem;
}

.offerPopupBlock .info #infoFooter {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.offerPopupBlock .info #infoFooter .button {
  padding: 0.75rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}

.offerPopupBlock .info #infoFooter .button svg {
  width: 100px;
}

.offerPopupBlock .info #infoFooter .price {
  padding: 0.5rem 1rem;
  background-color: var(--holyxey-wine);
  border-radius: 0.25rem;
}

.offerPopupBlock {
}

/* !offers */

#loyalty {
  background: url('https://optim.tildacdn.com/tild3963-6339-4231-a231-633830323034/-/format/webp/pattern5.png')
    var(--holyxey-white) fixed;
  background-size: 5rem;
  max-width: unset;
  padding: 2rem 0;
  margin-block: 5rem;
  z-index: 0;
}

#loyaltyPopUp {
  padding: 2rem 0;
  max-width: 100%;
}

#loyaltyPopUp > h3 {
  margin: 0 0.5rem 1rem 0.5rem;
  color: var(--holyxey-yellow);
}

#loyaltyPopUp > article {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#loyaltyPopUp > article h4 {
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  font-family: var(--holyxey-unbounded), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: var(--holyxey-back) 2px solid;
  background-color: #1e1b2330;
}

#loyaltyPopUp > article#loyaltyProgram {
  max-width: 600px;
}

#loyaltyPopUp > article#loyaltyProgram > div {
  padding-bottom: 1rem;
  border-radius: 1rem;
  width: 100%;
  opacity: 0;
}

#loyaltyPopUp > article#loyaltyProgram > div > p {
  padding: 0.25rem 1rem;
  opacity: 0;
}

#loyaltyPopUp > article#loyaltyProgram #loyaltyButtons {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

#loyaltyPopUp > article#certificates {
  max-width: 600px;
}

#loyaltyPopUp > article#certificates > div {
  display: flex;
  gap: 1rem;

  border-radius: 1rem;
  /*overflow: hidden;*/
  position: relative;
  opacity: 0;
}

#loyaltyPopUp > article#certificates > div > img {
  display: block;
  max-width: calc(100% - 50px);
  height: 100%;
  flex: 1 0 100px;
  border-radius: 1rem 0 0 1rem;
}

#loyaltyPopUp > article#certificates > div > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loyaltyPopUp > article#certificates > div > section svg {
  display: block;
}

#loyaltyPopUp > article#certificates > div > section > a:nth-child(1) {
  display: block;
  translate: -5% 3%;
}

#loyaltyPopUp > article#certificates > div > section > a:nth-child(2) {
  display: none;
}

#loyaltyPopUp > article > div[data-cert]:nth-child(2),
#loyaltyPopUp > article > div[data-param]:nth-child(1) {
  background-color: var(--holyxey-blue);
}

#loyaltyPopUp > article > div[data-cert]:nth-child(3),
#loyaltyPopUp > article > div[data-param]:nth-child(2) {
  background-color: var(--holyxey-good);
}

#loyaltyPopUp > article > div[data-cert]:nth-child(4),
#loyaltyPopUp > article > div[data-param]:nth-child(3) {
  background-color: var(--holyxey-wine);
}

/* videos */
#videos {
}

#videos .videoBlocks {
  display: flex;
  gap: 2rem;
}

#videos .videoBlocks > * {
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

#videos .videoBlocks .button {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: var(--holyxey-wine);
  border-radius: 100vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#videos .videoBlocks .button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%, -50%);
}

#videos .videoBlocks .verticalPreview {
  aspect-ratio: 9 / 16;
  background-image: url(https://thumb.tildacdn.com/tild3739-3438-4835-b765-663831646262/-/format/webp/m_preview.png);
  background-position: center;
  background-size: cover;
  width: 30%;
}

#videos .videoBlocks .horizontalPreview {
  aspect-ratio: 16 / 9;
  background-image: url(https://thumb.tildacdn.com/tild6262-3330-4231-b630-646639343633/-/format/webp/pc_preview.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}

#popUpVideo {
  position: absolute;
  z-index: 100500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 95%;
  max-height: 95%;
  border: 0;
  box-shadow: 0 0 100px #000000;
  border-radius: 1rem;
}

#popUpVideo.verticalPreview {
  aspect-ratio: 9 / 16;
  width: auto;
}

#popUpVideo.horizontalPreview {
  aspect-ratio: 16 / 9;
}

/* !videos */

/* Territory map */
#map .classic-ip {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /*padding-inline: 1rem;*/
}

#map .map-img {
  flex: 1;
  max-width: 50%;
  position: relative;
  overflow: hidden;
  min-width: 500px;
  border-radius: 3rem;
  border: 2px solid var(--holyxey-yellow);
  background-color: var(--holyxey-yellow);
  padding: 0.25rem;
}

/* !Territory map */

/* faq */
#faq-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem !important;
}

#faq-list .faq-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem 2.5rem;
  border: 1px solid var(--holyxey-white-oo);
  background-color: var(--holyxey-back);
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

#faq-list .faq-item-header-block {
}

#faq-list .faq-item-header {
  font-family: var(--holyxey-roboto);
  font-size: 1.2rem;
  font-weight: 400;
}

#faq-list .faq-item-header-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  translate: 0 -50%;
  height: 0.5rem;
  width: 0.5rem;
  opacity: 0.5;
  border-radius: 100vmin;
  background-color: var(--holyxey-yellow);
  transition: all 0.3s ease-out;
}

#faq-list .faq-item-body {
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-out;
}

#faq-list .faq-item-text {
  font-weight: 300;
  opacity: 0.8;
}

#faq-list a {
  color: var(--holyxey-yellow) !important;
  text-decoration: none;
  font-weight: 400;
  opacity: 1 !important;
}

.faqbtn {
  position: relative;
  font-weight: 400;
  color: var(--holyxey-yellow) !important;
  text-decoration: none !important;
}

.faqbtn:before {
  content: '';
  position: absolute;
  background-color: var(--holyxey-wine);
  width: 100%;
  height: 100%;
  translate: -5px -3px;
  opacity: 1;
  border-radius: 1rem;
  rotate: 0.5deg;
  z-index: -1;
  padding: 3px 5px;
  cursor: pointer;
}

/* !faq */

/* contacts */
#contacts {
}

#contacts .classic-ip {
  display: flex;
  gap: 2rem;
}

#contacts .classic-ip iframe {
  flex: 1;
  border-radius: 2rem;
}

#contacts .classic-ip article {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block: 1rem;
}

#contacts .classic-ip article > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contacts .classic-ip article .footerButton {
  float: left;
  background-color: var(--holyxey-back-o);
  padding: 0.5rem 1rem;
  width: fit-content;
  border: 1px solid var(--holyxey-white-o);
  display: inline-flex;
  border-radius: 100vmin;
  cursor: pointer;
}

#contacts .classic-ip article a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: var(--holyxey-white) !important;
  text-decoration: none !important;
  border-radius: 100vmin;
  cursor: pointer;
  gap: 1rem;
  width: fit-content;
}

#contacts .classic-ip article h4 {
  font-family: var(--holyxey-unbounded);
  font-size: 1.2rem;
  font-weight: 400;
}

#contacts .classic-ip article ul {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contacts .classic-ip article ul .footerSocialIconsBlock {
  display: flex;
  gap: 0.5rem;
}

#contacts .classic-ip article ul .footerSocialIconsBlock a {
  border: 0;
  padding: 0;
  background-color: transparent;
}

#contacts .classic-ip article ul li {
  width: fit-content;
}

#contacts .classic-ip article svg {
  display: inline-block;
  height: 24px;
}

#contacts .classic-ip article .footerFlexButtons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* !contacts */

/*Pop-up base styles*/
#popup-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  z-index: 100500900;
  overflow-y: auto;

  background-color: var(--holyxey-back-o);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-block: 0 2rem;
  gap: 2rem;

  opacity: 0;
  animation: showpopup 0.3s ease-out forwards;
}

#popup-block .popUpHeader {
  padding-top: 2rem;
}

#popup-block .popUpDescr {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: center;
  font-size: 1.1rem;
  max-width: 500px;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--holyxey-white-oo);
  border-radius: 1rem;
}

#popup-block .weather {
  background-color: var(--holyxey-blue);
  max-width: 1200px;
  border-radius: 1rem;
  width: 100%;
}

#popup-block .weather > a {
  border-radius: 1rem;
}

#popup-block #video-stream {
  max-width: 1200px;
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 16 / 9 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-block #video-stream .sldp_player_wrp {
  border-radius: 1rem;
}

#popup-block #video-stream .sldp_player_wrp video {
  border-radius: 1rem;
}

.sldp_volume_desktop {
  display: none;
}

#popup-block video {
  border-radius: 1rem;
}

#popup-block .variantPopUpButtons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /*margin-top: 1rem;*/
  justify-content: center;
}

#popup-block .variantPopUpButtons > * {
  flex: 1;
}

#close-popup {
  position: fixed;
  display: block;
  top: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  z-index: 100900500;

  opacity: 0;
}

#fullScreenPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1005009009;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  animation: showpopup 0.3s ease-out forwards;
}

#fullScreenPhotoButton {
  position: fixed;
  display: block;
  top: 2rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1009005009;
  opacity: 0;
}

#fullScreenPhoto img {
  max-width: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  border-radius: 1rem;
}

/* Nav */
.nav-arrow {
  background-color: var(--holyxey-yellow);
  aspect-ratio: 1 / 1;
  width: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100vmin;
  cursor: pointer;
  transition: all 0.1s ease-out;
  outline: 1px solid #f8f3c800;
  user-select: none;

  &:hover {
    outline: 5px solid #f8f3c870;
  }

  &:active {
    outline: 1px solid #f8f3c800;
  }

  > img {
    pointer-events: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-arrow {
    display: none;
  }
}

/* ! Nav */

/* Gallery */

#pop-up-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  min-height: 50dvh;
  gap: 1rem;
  overflow-x: auto;
  border-radius: 1rem;
  scroll-snap-type: x mandatory;
  direction: ltr;
}

#pop-up-gallery img {
  flex: 1;
  display: block;
  height: 100%;
  /* max-height: 100%;  */
  max-width: 95dvw;
  aspect-ratio: 4 / 3;
  border-radius: 1rem;
  scroll-snap-align: center;
  object-fit: cover;

  animation: showpopup 0.3s ease-out forwards;
}

#pop-up-gallery[class='vertical'] {
  max-width: 100%;
  aspect-ratio: unset;
}

.popUpDescr:has(.gallery-arows) {
  position: relative;
}

.gallery-arows {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.gallery-arow {
  position: absolute;
  user-select: none;

  bottom: 0;
}

.gallery-arow.prev {
  left: -4rem;
}

.gallery-arow.next {
  right: -4rem;
}

/*!Pop-up base styles*/

/*services pop-up*/
#popup-service {
  display: flex;
  max-width: 1200px;
  gap: 2rem;
  padding-inline: 0.25rem;
  width: 100%;
  margin-block: auto;
}

#popup-service .popup-service-imgblock {
  flex: 1;
  border-radius: 3rem;
  overflow: hidden;
  /*height: 500px;*/
  position: relative;
}

#popup-service .popup-service-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popup-service .popup-service-textblock {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-block: 2rem;
}

#popup-service .popup-service-header {
}

#popup-service .popup-service-fulldescr {
  font-size: 1.1rem;
  font-family: var(--holyxey-roboto);
  font-weight: 300;
  color: var(--holyxey-white-o);
}

#popup-service .popup-service-buttons {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

#popup-service .popup-service-buttons a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.8rem 1.5rem;
  border: 1px solid #56ac69;
  box-shadow: 0 0 10px #00000050;
  color: #f8f3c8 !important;

  text-decoration: none !important;
  translate: 0 1px;
}

#popup-service .popup-service-buttons svg {
  fill: #56ac69;
  height: 1.5rem;
  translate: 0 1px;
}

#popup-service .popup-service-buttons p {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.7rem;
  border: 1px solid #f8f3c840;
  padding: 0.8rem 1.5rem;
  max-width: fit-content;
  pointer-events: none;
  opacity: 0.6;
  font-weight: 300;
}

/*!services pop-up*/

/*Weather*/
#weatherTest {
  display: flex;
  gap: 0.5rem;
  max-width: 1200px;
  background-color: var(--holyxey-blue);
  padding: 0.5rem;
  border-radius: 0 0 2rem 2rem;
}

#weatherTest * {
  transition: all 0.3s ease-out;
}

#weatherTest .weatherDay {
}

#weatherTest .todayHeader {
  font-family: var(--holyxey-unbounded);
  padding: 0 1rem 0.5rem 1rem;
  text-align: center;
}

#weatherTest .hourly {
  flex: 1;
  color: var(--holyxey-back);
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--holyxey-white);
  border-radius: 1.5rem;
}

#weatherTest .hourly .hour {
  padding: 0.25rem;
  font-size: 1rem;
}

#weatherTest .hourly .morning {
}

#weatherTest .hourly .day {
}

#weatherTest .hourly .evening {
}

/*!Weather*/

/*Блок команды в поп-апе*/
#team {
  max-width: 1200px;
  /*padding: 2rem;*/
  border-radius: 3rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.team-person {
  flex: 1 0 300px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;

  padding: 2rem;
  background-color: var(--holyxey-back);
  border-radius: 4rem;
}

.person-photo-block {
  flex: 1 0 100px;
  max-width: 100px;
  max-height: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
  position: relative;

  overflow: hidden;
}

.person-photo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person-text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
}

.person-name {
  font-family: var(--holyxey-unbounded);
  font-weight: 500;
  font-size: 1.2rem;
}

.person-position {
  color: var(--holyxey-back-o);
  background-color: var(--holyxey-white);
  width: fit-content;
  margin-block: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.person-about {
  font-family: var(--holyxey-roboto);
  opacity: 0.8;
}

/*!Блок команды в поп-апе*/

/*Restaurant menu*/
#terruarMenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin-inline: 0.5rem;
}

#terruarMenu .menuCategory {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem 1rem;
  min-width: fit-content;

  background-color: var(--holyxey-wine);
  padding: 1rem;
  border-radius: 1rem;
}

#terruarMenu .menuCategory .categoryHeader {
  width: 100%;
  height: fit-content;
  font-weight: 500;
  border-bottom: 1px solid var(--holyxey-white-oo);
}

#terruarMenu .menuCategory .product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  min-width: 200px;
}

#terruarMenu .menuCategory .product .productTitle {
  font-size: 1.2rem;
  font-weight: 500;
  width: fit-content;
}

#terruarMenu .menuCategory .product .productDescription {
  width: fit-content;
  color: var(--holyxey-white-o);
  font-weight: 300;
}

#terruarMenu .menuCategory .product .productPrice {
  background-color: var(--holyxey-white);
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: var(--holyxey-wine);
  margin-top: auto;
}

/*!Restaurant menu*/

/*Dolyami section*/
#sectionDolyami {
  background: url('https://optim.tildacdn.com/tild3963-6339-4231-a231-633830323034/-/format/webp/pattern5.png')
    var(--holyxey-white) fixed;
  background-size: 5rem;
  padding: 3rem;
  color: var(--holyxey-back-o);
  width: 100%;
  margin-block: 5rem;
}

#dolyami-inner {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#dolyamiCard {
  font-family: var(--holyxey-unbounded);
  color: var(--holyxey-white);
  background-color: var(--holyxey-back);
  width: fit-content;
  padding: 2rem;
  border-radius: 2rem;

  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

#dolyamiCard p {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  min-width: fit-content;
  align-self: center;
}

#dolyamiLogos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  flex-wrap: wrap;
}

#dolyamiCard img {
  display: block;
}

#dolyamiBooking {
  /*font-family: var(--holyxey-unbounded);*/
  color: var(--holyxey-white);
  background-color: var(--holyxey-wine);
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}

/*Dolyami section*/

/*Стили для Тильды*/
.t-popup__close {
  background-color: var(--holyxey-white-oo);
  border-radius: 2rem;
}

.t-popup__container {
  border-radius: 2rem;
}

.t702__text-wrapper {
  text-align: left;
}

.t702__title {
  font-family: var(--holyxey-unbounded) !important;
  font-size: 1.8rem;
}

.t-upwidget-container__button,
.t-form__errorbox-wrapper {
  background-color: var(--holyxey-wine);
}

.t-submit {
  background-color: var(--holyxey-wine) !important;
  border-radius: 1rem !important;
  color: var(--holyxey-white) !important;
  font-weight: 500;
}

.t-input {
  border-radius: 1rem !important;
  background-color: var(--holyxey-white) !important;
}

.t-form__successbox {
  border-radius: 1rem !important;
  color: var(--holyxey-back-o) !important;
  font-weight: 500 !important;
}

.js-errorbox-all {
  border-radius: 1rem !important;
}

.t-input-error {
  color: var(--holyxey-wine) !important;
}

#CalltouchWidgetFrame,
jdiv {
  z-index: 200 !important;
}

/*Стили для Тильды*/

@keyframes showpopup {
  from {
    opacity: 0;
    translate: 0 -2rem;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes hidepopup {
  from {
    opacity: 1;
    translate: 0 0;
  }

  to {
    opacity: 0;
    translate: 0 -2rem;
  }
}

@keyframes showVideoOpacity {
  from {
    opacity: 0;
    filter: blur(25px);
    -webkit-filter: blur(25px);
  }

  to {
    opacity: 0.5;
    filter: blur(0);
    -webkit-filter: blur(0);
  }
}

@keyframes smoothShowHorizontal {
  5% {
    scale: 1;
    transform: perspective(100rem) rotate3d(0, 1, 0, 0deg) translateX(0);
    margin-right: initial;
    z-index: 0;
  }

  40% {
    scale: 0.8;
    transform: perspective(100rem) rotate3d(0, 1, 0, 40deg) translateX(-20%);
    margin-right: -45%;
    z-index: -1;
  }

  50% {
    scale: 0.8;
    transform: perspective(100rem) rotate3d(0, 1, 0, 40deg) translateX(-20%);
    margin-right: -45%;
    z-index: -1;
  }

  95% {
    scale: 1;
    transform: perspective(100rem) rotate3d(0, 1, 0, 0deg) translateX(0);
    margin-right: initial;
    z-index: 0;
    opacity: 1;
  }
}

@keyframes endlessRotating {
  from {
    rotate: 0;
  }

  from {
    rotate: 360deg;
  }
}

@keyframes percentage {
  from {
    opacity: 0;
    transform: rotate(10deg) translate3d(10px, 10px, 10px);
  }

  to {
    opacity: 1;
    transform: rotate(3deg) translate3d(-50px, 20px, 20px);
  }
}

@keyframes whyBlock {
  from {
    opacity: 0;
    height: 0;
    padding: 0 1rem;
  }

  to {
    opacity: 1;
    height: 100%;
    padding: 2rem;
  }
}

@keyframes tapeAnim {
  from {
    translate: 0 0;
  }

  50% {
    translate: 10% 0;
  }

  to {
    translate: 0 0;
  }
}

/*
*/
@media screen and (max-width: 600px) {
  .hideMobile {
    display: none !important;
  }

  .hidePC {
    display: inherit !important;
  }

  .znms-widget__module-form-block {
    top: unset !important;
    max-width: calc(100% - 2rem) !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 2rem !important;
    transition: all 0.5s;
  }

  .counterBlock {
    display: block;
  }

  #multi-page h1 {
    font-size: 1.8rem;
  }

  #multi-page h2 {
    font-size: 1.3rem;
    padding-top: 1rem;
  }

  #multi-page h3 {
    font-size: 1.7rem;
  }

  #multi-page menu#menuList {
    width: 100%;
    padding: 0.5rem;
    display: block;
    margin-inline: 0.5rem;
  }

  #multi-page menu#menuList li#mobileNavStroke {
    display: block;
  }

  #multi-page menu#menuList li.navPCItem {
    display: none;
  }

  #multi-page menu .heroSocialButtons {
    display: flex !important;
  }

  #multi-page menu .heroSocialButtons svg {
    height: 20px;
  }

  /*hero*/
  #multi-page header #hero {
    padding: 0.5rem;
    margin-inline: 0;
  }

  #multi-page header #heroContactButtons {
    flex-direction: column;
    justify-content: center;
  }

  #multi-page header #hero #heroImageBlock {
    display: none;
  }

  #multi-page header #hero #heroTextBlock {
    background:
      linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      url(https://optim.tildacdn.com/tild6164-6236-4335-b061-383633653530/-/format/webp/DSC_8864_1.png)
        lightgray 50% / cover no-repeat;
    padding: 2rem;
    border-radius: 2rem;
  }

  #multi-page.services header #hero #heroTextBlock {
    background:
      linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      url(https://optim.tildacdn.com/tild6563-3566-4264-b733-383436336232/-/format/webp/active.jpg)
        lightgray 50% / cover no-repeat;
  }

  #multi-page.variants header #hero #heroTextBlock {
    background:
      linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      url(https://thumb.tildacdn.com/tild3335-6365-4564-b639-333062663937/-/format/webp/5ZN_2626.jpg)
        lightgray 50% / cover no-repeat;
  }

  #multi-page header #hero[data-nomain='2025'] #heroTextBlock {
    background:
      linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      url(https://thumb.tildacdn.com/tild6436-6464-4933-a231-633331653566/-/format/webp/KIR_5409.jpg)
        lightgray 50% / cover no-repeat;
  }

  #multi-page header #hero[data-nomain='2026'] #heroTextBlock {
    background:
      linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
      url(https://optim.tildacdn.com/tild3236-3936-4537-b064-353061306230/-/format/webp/2026.jpg.webp)
        lightgray 50% / cover no-repeat;
  }

  /* needToRender (base design) */
  .classic-sec {
    margin-inline: 0.5rem;
    max-width: 1400px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }

  .classic-art {
    flex: 1;
    min-width: 85dvw;
    scroll-snap-align: center;
    max-width: unset;
    padding: 1.5rem 0.5rem;
    border-radius: 2rem;
  }

  .classic-ip {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow: visible;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-inline: 0.5rem;
    justify-content: flex-start;
  }

  .w-btn {
    flex-direction: column;
    padding-left: 1.5rem;
  }

  .classic-art-imgBlck {
    min-height: 150px;
  }

  /* !needToRender (base design) */

  #popup-block {
    padding: 0 0.5rem 2rem 0.5rem;
  }

  #popup-block .popUpHeader {
    max-width: calc(100dvw - 10rem);
    text-align: center;
  }

  #weatherTest {
    top: 0;
    left: 0;
    right: 0;
    gap: 0.25rem;
    flex-wrap: wrap;
    border-radius: 0 0 1.5rem 1.5rem;
  }

  #weatherTest p {
    text-align: center;
  }

  #weatherTest .weatherDay:nth-child(1) {
    width: 100%;
  }

  #weatherTest .weatherDay:not(:nth-child(1)) {
    flex: 1;
  }

  #weatherTest .weatherDay:not(:nth-child(1)) .morning,
  #weatherTest .weatherDay:not(:nth-child(1)) .evening {
    display: none;
  }

  /*services pop-up*/
  #popup-service {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 2rem;
    width: 100%;
  }

  #popup-service .popup-service-imgblock {
    min-height: 40dvh;
  }

  #popup-service .popup-service-header {
    width: 100%;
  }

  #popup-service .popup-service-textblock {
    padding-inline: 1rem;
    align-items: center;
    padding-block: 0;
  }

  /*!services pop-up*/

  #pop-up-gallery {
    min-height: 50dvh;
    height: 50dvh;
  }

  .gallery-arows {
    display: none;
  }

  /* reviews!*/
  #reviews .classic-ip {
    flex-direction: column;
    gap: 1rem;
  }

  #reviews iframe {
    min-height: 60vh;
  }

  #reviews .reviews-gallery {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    border-radius: 2rem;

    scroll-snap-type: x mandatory;
  }

  #reviews .reviews-gallery .reviews-gallery-imgblock {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 50vh;
    min-width: 80vw;
    border-radius: 2rem;

    scroll-snap-align: center;
  }

  #reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(2),
  #reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(3) {
    flex: 1;
    min-width: 80vw;
  }

  /* !reviews!*/

  /* Territory map */
  #map .classic-ip {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-wrap: nowrap;
    /*padding-inline: 1rem;*/
  }

  #map .map-img {
    max-width: 100%;
    min-width: unset;
    border-radius: 2rem;
    border: 1px solid var(--holyxey-yellow);
    background-color: var(--holyxey-yellow);
    padding: 0.25rem;
  }

  /* !Territory map */

  /*Services*/
  #services .classic-art-link {
    display: none;
  }

  #services .classic-art {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  }

  /*!Services*/

  /*Variants*/
  .variantBlock {
    min-width: 85dvw;
  }

  /*!Variants*/

  /*Offers*/
  #offers .offer {
    min-width: 85dvw;
    padding: 0.25rem;
  }

  #offers .offer .offerTitleBlock,
  #offers .offer.active .offerTitleBlock {
    margin-bottom: 2rem;
  }

  /*!Offers*/

  /* Videos */
  #videos .videoBlocks {
    flex-direction: column;
    gap: 1rem;
  }

  #videos .videoBlocks .verticalPreview {
    aspect-ratio: 16 / 9;
    background-position: center 65%;
    width: unset;
    height: 200px;
    margin-inline: 0.5rem;
  }

  #videos .videoBlocks .horizontalPreview {
    background-position: center;
    width: unset;
    height: 200px;
    margin-inline: 0.5rem;
  }

  #videos .videoBlocks .button {
    left: unset;
    top: unset;
    right: 0;
    bottom: 0;
    width: 2.5rem;
    height: 2.5rem;
  }

  #videos .videoBlocks .button svg {
    width: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-45%, -50%);
  }

  /* !Videos */

  /* about */
  #about #aboutBlock {
    background: none;
    padding: 0.5rem;
  }

  #about #aboutBlock .aboutInfo {
    padding: 0.5rem;
  }

  /* !about */

  /*faq*/
  #faq-list .faq-item-text {
    margin-inline: -1rem;
  }

  /*!faq*/

  /* contacts */
  #contacts .classic-ip {
    flex-direction: column;
    gap: 1rem;
  }

  #contacts .classic-ip article {
    padding-inline: 1rem;
    order: -1;
  }

  #contacts .classic-ip iframe {
    min-height: 60dvh;
  }

  /* !contacts */

  #terruarMenu .menuCategory {
    gap: 1rem;
    width: unset;
  }

  #terruarMenu .menuCategory .product {
    flex: 1 0 60%;
  }

  /*Блок команды в поп-апе*/
  #multi-page .team-person {
    padding: 1rem;
    flex-direction: row;
    gap: 1.5rem;
    border-radius: 2rem;
    border: 1px solid #00000010;
  }

  #multi-page .person-photo-block {
    aspect-ratio: unset;
    border-radius: 100vmin;
    overflow: hidden;
  }

  #multi-page .person-photo {
    min-height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*!Блок команды в поп-апе*/

  /*Dolyami section*/
  #sectionDolyami {
    padding: 4rem 0.5rem;
    flex-direction: column;
  }

  #dolyami-inner {
    flex-direction: column;
  }

  #dolyamiCard {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem 1rem 1.3rem 1rem;
    border-radius: 1rem;
  }

  #dolyamiCard p {
    width: unset;
    margin-right: 0;
  }

  #dolyamiLogos {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  #dolyamiCard img {
    display: block;
    height: 1rem;
  }

  #dolyamiBooking {
    width: 100%;
    text-align: center;
    border-radius: 1rem;
  }

  /*Dolyami section*/

  /*Стили для Тильды*/
  .t-popup__close {
    border-radius: 0;
  }

  .t-popup__container {
    border-radius: 0;
  }

  .t702__text-wrapper {
    text-align: left;
  }

  .t702__title {
    font-family: var(--holyxey-unbounded);
    font-size: 1.8rem;
  }

  .t-upwidget-container__button {
    background-color: var(--holyxey-wine);
  }

  /*Стили для Тильды*/
}

@media screen and (min-width: 900px) {
  #loyaltyPopUp > article#certificates > div {
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 1rem;
  }

  #loyaltyPopUp > article#certificates > div > img {
    max-width: 100%;
    height: unset;
    border-radius: 1rem;
  }

  #loyaltyPopUp > article#certificates > div > section {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    background-color: inherit;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0 1rem 1rem 0;
  }

  #loyaltyPopUp > article#certificates > div > section > a:nth-child(2) {
    display: block;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*translate: -120% -50%;*/
  }

  #loyaltyPopUp > article#certificates > div > section > a:nth-child(1) {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*translate: -120% -50%;*/
  }
}
