@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');
/*
*/

:root {
    --back: #1e1b23;
    --back-o: #131215DD;
    --white: #EEF0F2;
    --white-o: #EEF0F2de;
    --white-oo: #EEF0F250;
    --good : #158763;
    --bad: #EF767A;
    --blue: #0081AF;
    --wine: #a4315b;
    --yellow: #F8F3C8;

    --unbounded: "Unbounded", sans-serif;
    --roboto: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: var(--white-o) var(--back);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
body {
    background: url("https://optim.tildacdn.com/tild3963-6339-4231-a231-633830323034/-/format/webp/pattern5.png") var(--back) fixed;
    background-size: 5rem;
    font-family: var(--roboto);
    color: var(--white);
    overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
    background: #F8F3C8;
    border-radius: 1rem;
}
::-webkit-scrollbar-track {
    background: #222;
}
::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    background: transparent;
}
#multi-page {
    width: 100%;
}
#multi-page ul, footer ul {
    list-style: none !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

#multi-page h1 {
    font-size: 2.3rem;
    font-family: var(--unbounded);
    line-height: 1;
    color: var(--yellow);
    font-weight: 500;
}
#multi-page h2 {
    font-size: 1.2rem;
    font-family: var(--roboto);
    font-weight: 300;
    line-height: 1;
}
#multi-page h2.popUpHeader {
    font-size: 2rem;
    font-weight: 500;
}
#multi-page h3 {
    font-size: 2rem;
    font-family: var(--unbounded);
    font-weight: 400;
    line-height: 1;
}

#multi-page .blur {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
#multi-page .shadow {
    box-shadow: 0 0 20px #111111;
}
#multi-page .border {
    border: 1px solid #ffffff20;
}
.hideMobile {
    display: inherit !important;
}
.hidePC {
    display: none !important;
}
.counterBlock {
    display: none;
}

/*nav*/
#multi-page nav {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;

    z-index: 99999;
}
#multi-page nav * {
    transition: .3s;
}
#multi-page menu#menuList {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    width: fit-content;
    margin-inline: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: .25rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;

    background-color: var(--wine);
}
#multi-page menu#menuList li.navPCItem {
    width: fit-content;
    margin-inline: auto;
}
#multi-page menu#menuList li.navPCItem a {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none !important;
    color: var(--white);
    border-radius: 100vmin;
    cursor: pointer;
    text-align: center;

    &:hover {
        transition: color .3s, background-color .3s;
        background-color: var(--white);
        color: var(--back);
    }
}
#multi-page menu#menuList li#mobileNavStroke {
    display: none;
}
#multi-page menu#menuList li#mobileNavStroke img {
    display: block;
}
#multi-page menu#menuList li#mobileNavStroke ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#multi-page menu#menuList li#mobileNavStroke ul li {
}
#multi-page menu#menuList li#mobileNavStroke ul #mobLogo {
    height: 3rem;
    width: 3rem;
}
#multi-page menu#menuList li#mobileNavStroke ul #monMenuButton {
    height: 3rem;
    width: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    background-color: var(--wine);
    border: 1px solid var(--white-o);
    border-radius: 100vmin;
}
#multi-page menu#menuList li#mobileNavStroke ul #monMenuButton .menuButtonHR {
    width: 60%;
    height: 1px;
    background-color: var(--white-o);
}
/*!nav*/

/*Header*/
#multi-page header #hero {
    position: relative;
    max-width: 1400px;
    margin: auto;
    padding: 1rem;

    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 2rem;

    transition: all .3s ease-in-out;
}
#multi-page header #hero[data-nomain="services"] {}
#multi-page header #hero #heroHeadlineContainer {}
#multi-page header #hero #heroTextBlock {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-block: 2rem;
}
/**/#multi-page header #hero #heroTextBlock #heroPreferences {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-block: 2rem;
    min-width: 200px;
} /* Хайлайты hero */
#multi-page header #hero #heroTextBlock .heroPreferencesBlock {
    flex: 1 0 200px;
}
#multi-page header #hero #heroTextBlock .heroPreferencesBlock svg {
    height: 25px;
    display: block;
    float: left;
    margin: auto 1rem auto 0;
}
#multi-page header #hero #heroTextBlock .heroPreferencesBlock .blockTitle {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: var(--white);
}
#multi-page header #hero #heroTextBlock .heroPreferencesBlock .blockText {
    font-size: 1rem;
    color: var(--white-o);
}
#multi-page header #hero #heroImageBlock {
    /*background: url(https://optim.tildacdn.com/tild6164-6236-4335-b061-383633653530/-/format/webp/DSC_8864_1.png) center / cover;*/
    /*background: url(https://optim.tildacdn.com/tild6563-3566-4264-b733-383436336232/-/format/webp/active.jpg) center / cover;*/
    background: url(https://thumb.tildacdn.com/tild3335-6365-4564-b639-333062663937/-/format/webp/5ZN_2626.jpg) center / cover;
    flex: 1;
    border-radius: 3rem;
    min-height: 300px;
    min-width: 550px;
}
/**/#multi-page header #heroContactButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
} /* Кнопки в hero */
#multi-page header #heroContactButtons .heroButton {
    display: block;
    background-color: var(--white);
    padding: .7rem 2rem;
    border-radius: 100vmin;

    text-decoration: none !important;
    color: var(--back) !important;
}
#multi-page header #heroContactButtons .heroButton.phone {
    background-color: var(--wine);
    color: var(--white) !important;
}
#multi-page header #heroContactButtons .heroButton.book {
    background-color: var(--yellow);
    color: var(--back) !important;
}
#multi-page header #heroContactButtons .heroSocialButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}
#multi-page header #heroContactButtons .heroSocialButtons a {
    text-decoration: none !important;
}
#multi-page header #heroContactButtons .heroSocialButtons svg {
    margin: auto .5rem;
    height: 1.5rem;
    display: block;
    transition: scale .1s ease-in;
}
#multi-page header #heroContactButtons .heroSocialButtons svg:hover {
    scale: 1.1;
}
/**/#multi-page header #hero #booking {
    background-color: var(--back-o);
    width: 100%;
    padding: 2rem 4rem;
    border-radius: 1rem;
}

/*Booking*/
.znms-widget__module-form-block {
    top: 620px !important;
    left: .5rem !important;
    right: .5rem !important;
    border-radius: 2rem !important;
}
.znms-widget__module-form-block__wrap {
    max-width: unset !important;
}
.znms-widget__module-form-block--opacity-bg {
    max-width: 1400px;
    background-color: var(--back-o) !important;
}
.znms-widget__module-form-block__btn,
.znms-widget__place_form-btn,
.znms-widget__btn,
.znms-widget__tariffs_promo-btn,
.znms-widget__btn2:hover,
.znms-widget__v-calendar-day-content:hover {
    background-color: var(--wine) !important;
    color: var(--white) !important;
}
.znms-widget__colored-text {
    color: var(--wine) !important;
}
.znms-widget__module-form-block__item--lg {
    display: none !important;
}
.znms-widget__module-form-block--header {
    z-index: 9999 !important;
}
.znms-widget__brononline_popup_full {
    z-index: 999999 !important;
}
/*!Header*/

/* needToRender (base design) */
.classic-sec {
    width: 100%;
    max-width: 1400px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.classic-ip {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0;
    justify-content: center;
    position: relative;
}
.classic-hb {
    display: flex;
    padding-left: 3rem;
    padding-right: 1rem;
    flex-direction: column;
    gap: .5rem;
    position: relative;
}
.w-btn {
    justify-content: space-between;
    flex-direction: row;
}
.w-btn > h3 {
    width: 100%;
    font-size: 2rem;
    font-family: var(--unbounded);
    font-weight: 400;
    line-height: 1;
}
.w-btn > * {
    min-width: fit-content;
}
.classic-art {
    flex: 1 0 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 3rem;
    margin-inline: .5rem;
    cursor: pointer;
    background-color: var(--back-o);
    border: 1px solid transparent;
    transition: scale .3s ease-out;
}
.classic-art-hb {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    gap: .7rem;
    position: relative;
}
.classic-art-header {
    font-family: var(--unbounded);
    font-weight: 500;
    font-size: 1.3rem;
}
.classic-art-descr {
    font-size: 1.1rem;
    font-family: var(--roboto);
    font-weight: 300;
    color: var(--white-o);
}
.classic-art-imgBlck {
    flex: 1;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    position: relative;
}
.classic-art-img {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.classic-art-link {
    text-decoration: none !important;
    color: var(--white) !important;
    margin: 0 1rem 0 auto;
}
.classic-art-icon {
    position: absolute;
    left: 1rem;
    width: 24px;
}
.classic-header-button-first {
    /*background-color: var(--wine);*/
    background-color: var(--yellow);
    color: var(--back-o)!important;
    width: fit-content;
    text-decoration: none !important;
    padding: .7rem 1.4rem;
    border-radius: 100vmin;
    text-align: center;
    align-content: center;
    cursor: pointer;
    display: block;
}
/* !needToRender */

    /* second design */
    .classic-sec-second {

    }
    .classic-hb-second {
    }
    .classic-ip-second {

    }
    .classic-art-second {
        flex: 1 0 30%;
        max-width: calc(1400px / 3);
    }
    .classic-art-hb-second {

    }
    .classic-art-header-second {

    }
    .classic-art-descr-second {

    }
    .classic-art-imgBlck-second {

    }
    .classic-art-img-second {

    }
    .classic-art-link-second {

    }
    /* !second design */

/* reviews */
#reviews .classic-ip {
    display: flex;
    gap: 2rem;
    flex-direction: row;
}
#reviews iframe {
    flex: .6;
    height: 80vh;
    border-radius: 2rem;
    border: none;
}
#reviews .reviews-gallery {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
    border-radius: 3rem;
}
#reviews .reviews-gallery .reviews-gallery-imgblock {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: calc(50% - .5rem);
    min-width: calc(30% - .5rem);
    border-radius: 2rem;
}
#reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(2),
#reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(3) {
    flex: 2;
    min-width: calc(60% - .5rem);
}
#reviews .reviews-gallery .reviews-gallery-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* !reviews */

/* variants */
#variants {}
.variantBlock {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    background-color: var(--back-o);
    margin-inline: .5rem;
    padding: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    scroll-snap-align: center;
}
.variantBlock .variantHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
}
.variantBlock svg {}
.variantBlock .variantTitle {}
.variantBlock .openVariantGallery {
    margin-left: auto;
}
.variantBlock .variantPreviewImage {
    background-size: cover;
    background-position: center;
    margin-top: .5rem;
    border-radius: 1.5rem 1.5rem;
    aspect-ratio: 1.8 / 1;
}

/* !variants */

/* Territory map */
#map .classic-ip {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    /*padding-inline: 1rem;*/
}
#map .map-img {
    flex: 1;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    min-width: 500px;
    border-radius: 3rem;
    border: 2px solid var(--yellow);
    background-color: var(--yellow);
    padding: .25rem;
}
/* !Territory map */

/* faq */
#faq-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem !important;
}
#faq-list .faq-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem 2.5rem;
    border: 1px solid var(--white-oo);
    background-color: var(--back);
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}
#faq-list .faq-item-header-block {
}
#faq-list .faq-item-header {
    font-family: var(--roboto);
    font-size: 1.2rem;
    font-weight: 400;
}
#faq-list .faq-item-header-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    translate: 0 -50%;
    height: .5rem;
    width: .5rem;
    opacity: .5;
    border-radius: 100vmin;
    background-color: var(--yellow);
    transition: all .3s ease-out;
}
#faq-list .faq-item-body {
    height: 0;
    opacity: 0;
    transition: all .3s ease-out;
}
#faq-list .faq-item-text {
    font-weight: 300;
    opacity: .8;
}
#faq-list a {
    color: var(--yellow) !important;
    text-decoration: none;
    font-weight: 400;
    opacity: 1 !important;
}
.faqbtn {
    position: relative;
    font-weight: 400;
    color: var(--yellow) !important;
    text-decoration: none !important;
}
.faqbtn:before {
    content: '';
    position: absolute;
    background-color: var(--wine);
    width: 100%;
    height: 100%;
    translate: -5px -3px;
    opacity: 1;
    border-radius: 1rem;
    rotate: .5deg;
    z-index: -1;
    padding: 3px 5px;
    cursor: pointer;
}
/* !faq */

/* contacts */
#contacts { }
#contacts .classic-ip {
    display: flex;
    gap: 2rem;
}
#contacts .classic-ip iframe {
    flex: 1;
    border-radius: 2rem;
}
#contacts .classic-ip article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-block: 1rem;
}
#contacts .classic-ip article > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#contacts .classic-ip article .footerButton {
    float: left;
    background-color: var(--back-o);
    padding: .5rem 1rem;
    width: fit-content;
    border: 1px solid var(--white-o);
    display: inline-flex;
    border-radius: 100vmin;
    cursor: pointer;
}
#contacts .classic-ip article a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--white)!important;
    text-decoration: none !important;
    border-radius: 100vmin;
    cursor: pointer;
    gap: 1rem;
    width: fit-content;
}
#contacts .classic-ip article h4 {
    font-family: var(--unbounded);
    font-size: 1.2rem;
    font-weight: 400;
}
#contacts .classic-ip article ul {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#contacts .classic-ip article ul .footerSocialIconsBlock {
    display: flex;
    gap: .5rem;
}
#contacts .classic-ip article ul .footerSocialIconsBlock a {
    border: 0;
    padding: 0;
    background-color: transparent;
}
#contacts .classic-ip article ul li {
    width: fit-content;
}
#contacts .classic-ip article svg {
    display: inline-block;
    height: 24px;
}
#contacts .classic-ip article .footerFlexButtons {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
/* !contacts */

/*Pop-up base styles*/
#popup-block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    z-index: 100500900;
    overflow-y: auto;

    background-color: var(--back-o);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-block: 0 2rem;
    gap: 2rem;

    opacity: 0;
    animation: showpopup .3s ease-out forwards;
}
#popup-block .popUpHeader {
    padding-top: 2rem;
}
#popup-block .popUpDescr {
    text-align: center;
    font-size: 1.1rem;
    max-width: 500px;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid var(--white-oo);
    border-radius: 1rem;
}
#popup-block .weather {
    background-color: var(--blue);
    max-width: 1200px;
    border-radius: 1rem;
    width: 100%;
}
#popup-block .weather > a {
    border-radius: 1rem;
}
#popup-block #video-stream {
    max-width: 1200px;
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 16 / 9 !important;

    display: flex;
    align-items: center;
    justify-content: center;
}
#popup-block #video-stream .sldp_player_wrp {
    border-radius: 1rem;
}
#popup-block #video-stream .sldp_player_wrp  video {
    border-radius: 1rem;
}
.sldp_volume_desktop {
    display: none;
}
#popup-block video {
    border-radius: 1rem;
}
#close-popup {
    position: fixed;
    display: block;
    top: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    z-index: 100900500;

    opacity: 0;
}

#fullScreenPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100500900;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    animation: showpopup .3s ease-out forwards;
}
#fullScreenPhotoButton {
    position: fixed;
    display: block;
    top: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    z-index: 100900500;
    opacity: 0;
}
#fullScreenPhoto img {
    max-width: calc(100% - 1rem);
    max-height: calc(100% - 1rem);
    border-radius: 1rem;
}

#pop-up-gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    aspect-ratio: 16 / 9;
    min-height: 50dvh;
    gap: 1rem;
    overflow-x: auto;
    border-radius: 1rem;
    scroll-snap-type: x mandatory;
    direction: ltr;

}
#pop-up-gallery img {
    display: block;
    max-height: 100%;
    max-width: 95dvw;
    border-radius: 1rem;
    scroll-snap-align: center;

    animation: showpopup .3s ease-out forwards;
}
#pop-up-gallery[class=vertical] {
    max-width: 100%;
    aspect-ratio: unset;
}
/*!Pop-up base styles*/

/*services pop-up*/
#popup-service {
    display: flex;
    max-width: 1200px;
    gap: 2rem;
    padding-inline: .25rem;
    width: 100%;
    margin-block: auto;
}
#popup-service .popup-service-imgblock {
    flex: 1;
    border-radius: 3rem;
    overflow: hidden;
    /*height: 500px;*/
    position: relative;
}
#popup-service .popup-service-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#popup-service .popup-service-textblock {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding-block: 2rem;
}
#popup-service .popup-service-header {}
#popup-service .popup-service-fulldescr {
    font-size: 1.1rem;
    font-family: var(--roboto);
    font-weight: 300;
    color: var(--white-o);
}

#popup-service .popup-service-buttons {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}
#popup-service .popup-service-buttons a {
    display: flex;
    gap: .5rem;
    align-items: center;
    border-radius: 1rem;
    padding: .8rem 1.5rem;
    border: 1px solid #56AC69;
    box-shadow: 0 0 10px #00000050;
    color: #F8F3C8!important;

    text-decoration: none !important;
    translate: 0 1px;
}
#popup-service .popup-service-buttons svg {
    fill: #56AC69;
    height: 1.5rem;
    translate: 0 1px;
}
#popup-service .popup-service-buttons p {
    display: flex;
    gap: .5rem;
    align-items: center;
    border-radius: .7rem;
    border: 1px solid #F8F3C840;
    padding: .8rem 1.5rem;
    max-width: fit-content;
    pointer-events: none;
    opacity: .6;
    font-weight: 300;
}
/*!services pop-up*/

/*Weather*/
#weatherTest {
    display: flex;
    gap: .5rem;
    max-width: 1200px;
    background-color: var(--blue);
    padding: .5rem;
    border-radius: 0 0 2rem 2rem;
}
#weatherTest * {
    transition: all .3s ease-out;
}
#weatherTest .weatherDay {
}
#weatherTest .todayHeader {
    font-family: var(--unbounded);
    padding: 0 1rem .5rem 1rem;
    text-align: center;
}
#weatherTest .hourly {
    flex: 1;
    color: var(--back);
    font-size: 1rem;
    padding: .5rem;
    background-color: var(--white);
    border-radius: 1.5rem;
}
#weatherTest .hourly .hour {
    padding: .25rem;
    font-size: 1rem;
}
#weatherTest .hourly .morning {

}
#weatherTest .hourly .day {

}
#weatherTest .hourly .evening {

}
/*!Weather*/

/*Блок команды в поп-апе*/
#team {
    max-width: 1200px;
    /*padding: 2rem;*/
    border-radius: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.team-person {
    flex: 1 0 300px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;

    padding: 2rem;
    background-color: var(--back);
    border-radius: 4rem;
}
.person-photo-block {
    flex: 1 0 100px;
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 2rem;
    position: relative;

    overflow: hidden;
}
.person-photo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.person-text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    height: 100%;
}
.person-name {
    font-family: var(--unbounded);
    font-weight: 500;
    font-size: 1.2rem;
}
.person-position {
    color: var(--back-o);
    background-color: var(--white);
    width: fit-content;
    margin-block: .25rem;
    padding: .25rem .5rem;
    border-radius: .5rem;
    font-weight: 500;
}
.person-about {
    font-family: var(--roboto);
    opacity: .8;
}
/*!Блок команды в поп-апе*/

/*Restaurant menu*/
#terruarMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin-inline: .5rem;
}
#terruarMenu .menuCategory {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem 1rem;
    min-width: fit-content;

    background-color: var(--wine);
    padding: 1rem;
    border-radius: 1rem;
}
#terruarMenu .menuCategory .categoryHeader {
    width: 100%;
    height: fit-content;
    font-weight: 500;
    border-bottom: 1px solid var(--white-oo);
}
#terruarMenu .menuCategory .product {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
#terruarMenu .menuCategory .product .productTitle {
    font-size: 1.2rem;
    font-weight: 500;
    width: fit-content;
}
#terruarMenu .menuCategory .product .productDescription {
    width: fit-content;
    color: var(--white-o);
    font-weight: 300;
}
#terruarMenu .menuCategory .product .productPrice {
    background-color: var(--white);
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 1rem;
    color: var(--wine);
    margin-top: auto;
}
/*!Restaurant menu*/

/*Dolyami section*/
#sectionDolyami {
    background: url("https://optim.tildacdn.com/tild3963-6339-4231-a231-633830323034/-/format/webp/pattern5.png") var(--white) fixed;
    background-size: 5rem;
    padding: 3rem;
    color: var(--back-o);
    width: 100%;
}
#dolyami-inner {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
#dolyamiCard {
    font-family: var(--unbounded);
    color: var(--white);
    background-color: var(--back);
    width: fit-content;
    padding: 2rem;
    border-radius: 2rem;

    display: flex;
    gap: .5rem;
    cursor: pointer;
}
#dolyamiCard p {
    margin-right: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    min-width: fit-content;
    align-self: center;
}
#dolyamiLogos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    flex-wrap: wrap;
}
#dolyamiCard img {
    display: block;
}
#dolyamiBooking {
    /*font-family: var(--unbounded);*/
    color: var(--white);
    background-color: var(--wine);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
}
/*Dolyami section*/

/*Стили для Тильды*/
.t-popup__close {
    background-color: var(--white-oo);
    border-radius: 2rem;
}
.t-popup__container {
    border-radius: 2rem;
}
.t702__text-wrapper {
    text-align: left;
}
.t702__title {
    font-family: var(--unbounded) !important;
    font-size: 1.8rem;
}
.t-upwidget-container__button,
.t-form__errorbox-wrapper {
    background-color: var(--wine);
}
.t-submit {
    background-color: var(--wine) !important;
    border-radius: 1rem !important;
    color: var(--white) !important;
    font-weight: 500;
}
.t-input {
    border-radius: 1rem !important;
    background-color: var(--white) !important;
}
.t-form__successbox {
    border-radius: 1rem !important;
    color: var(--back-o) !important;
    font-weight: 500 !important;
}
.js-errorbox-all {
    border-radius: 1rem !important;
}
.t-input-error {
    color: var(--wine) !important;
}
/*Стили для Тильды*/

@keyframes showpopup {
    from { opacity: 0; translate: 0 -2rem}
    to { opacity: 1; translate: 0 0}
}
@keyframes hidepopup {
    from { opacity: 1; translate: 0 0 }
    to { opacity: 0; translate: 0 -2rem}
}
@keyframes showVideoOpacity {
    from { opacity: 0; filter: blur(25px); -webkit-filter: blur(25px);}
    to { opacity: .5; filter: blur(0); -webkit-filter: blur(0);}
}
@keyframes smoothShowHorizontal {
    5% {scale: 1; transform: perspective(100rem) rotate3d(0,1,0, 0deg); translateX(0) margin-right: initial; z-index: 0}
    40% {scale: .8; transform: perspective(100rem) rotate3d(0,1,0, 40deg) translateX(-20%); margin-right: -45%; z-index: -1}
    50% {scale: .8; transform: perspective(100rem) rotate3d(0,1,0, 40deg) translateX(-20%); margin-right: -45%; z-index: -1}
    95% {scale: 1; transform: perspective(100rem) rotate3d(0,1,0, 0deg) translateX(0); margin-right: initial; z-index: 0}
}
@keyframes endlessRotating {
    from {rotate: 0}
    from {rotate: 360deg}
}

/*
*/
@media screen and (max-width: 600px) {
    .hideMobile {
        display: none !important;
    }
    .hidePC {
        display: inherit !important;
    }
    .znms-widget__module-form-block {
        top: unset!important;
        max-width: calc(100% - 2rem) !important;
        left: 0 !important;
        right: 0 !important;
        border-radius: 2rem !important;
        transition: all 0.5s ;
    }
    .counterBlock {
        display: block;
    }

    #multi-page h1 {
        font-size: 1.8rem;
    }
    #multi-page h2 {
        font-size: 1.3rem;
        padding-top: 1rem;
    }
    #multi-page h3 {
        font-size: 1.7rem;
    }

    #multi-page menu#menuList {
        width: 100%;
        padding: .5rem;
        display: block;
        margin-inline: .5rem;
    }
    #multi-page menu#menuList li#mobileNavStroke {
        display: block;
    }
    #multi-page menu#menuList li.navPCItem {
        display: none;
    }
    #multi-page menu .heroSocialButtons {
        display: flex !important;
    }
    #multi-page menu .heroSocialButtons svg {
        height: 20px;
    }

    /*hero*/
    #multi-page header #hero {
        padding: .5rem;
        margin-inline: 0;
    }
    #multi-page header #heroContactButtons {
        flex-direction: column;
        justify-content: center;
    }
    #multi-page header #hero #heroImageBlock {
        display: none;
    }
    #multi-page header #hero #heroTextBlock {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(https://optim.tildacdn.com/tild6563-3566-4264-b733-383436336232/-/format/webp/active.jpg) lightgray 50% / cover no-repeat;
        padding: 2rem;
        border-radius: 2rem;
    }

    /* needToRender (base design) */
    .classic-sec {
        margin-inline: .5rem;
        max-width: 1400px;
        margin: 4rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }
    .classic-art {
        flex: 1 0 100%;
        scroll-snap-align: center;
        max-width: unset;
        padding: 1.5rem .5rem;
        border-radius: 2rem;
    }
    .classic-ip {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        overflow: visible;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-inline: .5rem;
        justify-content: flex-start;
    }
    .w-btn {
        flex-direction: column;
        padding-left: 1.5rem;
    }
    /* !needToRender (base design) */

    #popup-block {
        padding: 0 .5rem 2rem .5rem
    }
    #popup-block .popUpHeader {
        max-width: calc(100dvw - 4rem);
    }
    #weatherTest {
        top: 0;
        left: 0;
        right: 0;
        gap: .25rem;
        flex-wrap: wrap;
        border-radius: 0 0 1.5rem 1.5rem;
    }
    #weatherTest p {
        text-align: center;
    }
    #weatherTest .weatherDay:nth-child(1) {
        width: 100%;
    }
    #weatherTest .weatherDay:not(:nth-child(1)) {
        flex: 1;
    }
    #weatherTest .weatherDay:not(:nth-child(1)) .morning,
    #weatherTest .weatherDay:not(:nth-child(1)) .evening {
        display: none;
    }

    /*services pop-up*/
    #popup-service {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        gap: 2rem;
        width: 100%;
    }
    #popup-service .popup-service-imgblock {
        min-height: 40dvh;
    }
    #popup-service .popup-service-header {
        width: 100%;
    }
    #popup-service .popup-service-textblock {
        padding-inline: 1rem;
        align-items: center;
        padding-block: 0;
    }
    /*!services pop-up*/

    /* reviews!*/
    #reviews .classic-ip {
        flex-direction: column;
        gap: 1rem;
    }
    #reviews iframe {
        min-height: 60vh;
    }
    #reviews .reviews-gallery {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        overflow-x: auto;
        border-radius: 2rem;

        scroll-snap-type: x mandatory;
    }
    #reviews .reviews-gallery .reviews-gallery-imgblock {
        flex: 1;
        position: relative;
        overflow: hidden;
        height: 50vh;
        min-width: 80vw;
        border-radius: 2rem;

        scroll-snap-align: center;
    }
    #reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(2),
    #reviews .reviews-gallery .reviews-gallery-imgblock:nth-child(3) {
        flex: 1;
        min-width: 80vw;
    }
    /* !reviews!*/

    /* Territory map */
    #map .classic-ip {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        flex-wrap: nowrap;
        /*padding-inline: 1rem;*/
    }
    #map .map-img {
        max-width: 100%;
        min-width: unset;
        border-radius: 2rem;
        border: 1px solid var(--yellow);
        background-color: var(--yellow);
        padding: .25rem;
    }
    /* !Territory map */

    /*faq*/
    #faq-list .faq-item-text {
        margin-inline: -1rem;
    }
    /*!faq*/

    /* contacts */
    #contacts .classic-ip {
        flex-direction: column;
        gap: 1rem;
    }
    #contacts .classic-ip article {
        padding-inline: 1rem;
        order: -1;
    }
    #contacts .classic-ip iframe {
        min-height: 60dvh;
    }
    /* !contacts */

    #terruarMenu .menuCategory {
        gap: 1rem;
        width: unset;
    }
    #terruarMenu .menuCategory .product {
        flex: 1 0 60%;
    }

    /*Блок команды в поп-апе*/
    #multi-page .team-person {
        padding: 1rem;
        flex-direction: row;
        gap: 1.5rem;
        border-radius: 2rem;
        border: 1px solid #00000010;
    }
    #multi-page .person-photo-block {
        aspect-ratio: unset;
        border-radius: 100vmin;
        overflow: hidden;
    }
    #multi-page .person-photo {
        min-height: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*!Блок команды в поп-апе*/

    /*Dolyami section*/
    #sectionDolyami {
        padding: 4rem .5rem;
        flex-direction: column;
    }
    #dolyami-inner {
        flex-direction: column;
    }
    #dolyamiCard {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1rem 1rem 1.3rem 1rem;
        border-radius: 1rem;
    }
    #dolyamiCard p {
        width: unset;
        margin-right: 0;
    }
    #dolyamiLogos {
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
    #dolyamiCard img {
        display: block;
        height: 1rem;
    }
    #dolyamiBooking {
        width: 100%;
        text-align: center;
        border-radius: 1rem;
    }
    /*Dolyami section*/

    /*Стили для Тильды*/
    .t-popup__close {
        border-radius: 0;
    }
    .t-popup__container {
        border-radius: 0;
    }
    .t702__text-wrapper {
        text-align: left;
    }
    .t702__title {
        font-family: var(--unbounded);
        font-size: 1.8rem;
    }
    .t-upwidget-container__button {
        background-color: var(--wine);
    }
    /*Стили для Тильды*/
}