    #why , #steps-identity{
        background-color: var(--c-bl-tr);
    }

    #why-us {
    }
    #why-us ul, #steps-identity ul {
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        counter-reset: steps;
    }
.hx-at-step-number:before {
    counter-increment: steps;
    content: "0" counter(steps);
}


/*
*/