* {
    margin: 0;
    padding: 0;
}
#resortTax {
    border: 1px solid #EBE3DE;
    max-width: 800px;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1rem;

    font-family: 'CeraPro',Arial,sans-serif;
    color: #454953;

    position: fixed;
    bottom: 2rem;
    left: 50%;
    translate: -50%;

    background: #00000010;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #00000020;

    opacity: 0;
    animation: resortTaxShow 1s ease-in-out forwards;

    z-index: 995595607309999;
}
#taxOk {
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    background: #334e3e;
    color: #EBE3DE;

    cursor: pointer;

    margin: 1rem 0 0 auto;
}

@keyframes resortTaxShow {
    from {opacity: 0; translate: -50% 30px; border-radius: 3rem}
    to {opacity: 1; translate: -50% 0; border-radius: 1rem}
}
@keyframes resortTaxHide {
    from {opacity: 1; translate: -50% 0; border-radius: 1rem}
    to {opacity: 0; translate: -50% -30px; border-radius: 3rem}
}

@media screen and (max-width: 700px){
    #resortTax {
        left: unset;
        translate: unset;
        margin: 1rem 1rem -1rem 1rem;
        padding: 1.5rem;
    }
    #taxOk {
        margin-top: 2rem;
        width: calc(100% - 3rem);
    }
    @keyframes resortTaxShow {
        from {opacity: 0; translate: 0 30px}
        to {opacity: 1; translate: unset}
    }
    @keyframes resortTaxHide {
        from {opacity: 1; translate: unset}
        to {opacity: 0; translate: 0 30px}
    }
}