
/* forSlick */
.slick-prev,
.slick-next {
    /*position: absolute;*/
    transition: background .3s ease-out;

    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;

    width: 3rem;
    height: 3rem;
    padding: .4rem;

    border-radius: 1rem;
    z-index: 100;

    color: transparent;
    background: transparent;
    border: none;
    outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    /*outline: none;*/
    background: transparent;
    opacity: 1;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}

.slick-prev
{
    left: -3rem;
}
[dir='rtl'] .slick-prev
{
    right: -3rem;
    left: auto;
}
.slick-prev:before
{
    content: url("Arrows/lArrow.svg");
}
[dir='rtl'] .slick-prev:before
{
    content: url("Arrows/rArrow.svg");
}

.slick-next
{
    right: -3rem;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -3rem;
}
.slick-next:before
{
    content: url("Arrows/rArrow.svg");
}
[dir='rtl'] .slick-next:before
{
    content: url("Arrows/lArrow.svg");
}


#slider-reviews .slick-prev
    {
        left: -6rem;
    }
#slider-reviews [dir='rtl'] .slick-prev
    {
        right: -6rem;
        left: auto;
    }
#slider-reviews .slick-next
    {
        right: -6rem;
    }
#slider-reviews [dir='rtl'] .slick-next
    {
        right: auto;
        left: -6rem;
    }