    #hx-limb-full-hero {
    background-color: #0099A0;
    background-image: unset;
}
.hx-limb-tabs {
    background-color: #ffffff;
}
    #slider-modules {
    margin-top: unset;
}
    #slider-modules {
        padding-bottom: 0;
    }