.hx-limb-structure-block-img-select:nth-of-type(1) {
    top: 10%;
    left: 25%;
}
.hx-limb-structure-block-img-select:nth-of-type(2) {
    top: 55%;
    left: 35%;
}
.hx-limb-structure-block-img-select:nth-of-type(3) {
    top: unset;
    left: 25%;
    bottom: 15%;
}
.hx-limb-structure-block-img-select:nth-of-type(4), .hx-limb-structure-block-img-select:nth-of-type(5) {
    display: none;
}

@media screen and (max-width: 900px) {
    #hx-limb-structure .hx-limb-structure-block:last-child {
        display: flex;
    }
    #hx-limb-structure .hx-limb-structure-block:nth-child(3) {
        display: none;
    }
    .hx-limb-structure-block-img-select:nth-of-type(1) {
        top: 10%;
        left: 15%;
    }
    .hx-limb-structure-block-img-select:nth-of-type(2) {
        top: 55%;
        left: 25%;
    }
    .hx-limb-structure-block-img-select:nth-of-type(3) {
        top: unset;
        left: 15%;
        bottom: 15%;
    }
}
@media screen and (max-width: 650px) {
    #hx-limb-structure .hx-limb-structure-block {
        flex-direction: column;
    }
    .hx-limb-structure-block-img {
        order: -2;
        margin: 0 auto;
        min-height: 30dvh;
    }
    .hx-limb-structure-block-info-in {
        max-width: 100%;
    }
    .hx-limb-structure-block-img-select:nth-of-type(1) {
        top: 10%;
        left: -25%;
    }
    .hx-limb-structure-block-img-select:nth-of-type(2) {
        top: 55%;
        left: -10%;
    }
    .hx-limb-structure-block-img-select:nth-of-type(3) {
        top: unset;
        left: -15%;
        bottom: 15%;
    }
}