body {
    /*overflow-x: hidden;*/
}
.hx-limb-section * {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}
.hx-limb-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: 'Montserrat', Arial, sans-serif;
}
li {
    list-style-position: inside;
}

.t228__rightside .t228__rightcontainer {
    text-align: right;
}
#rec648441099 {
    position: sticky;
    top: 0;
    z-index: 100500;
    border-bottom: 1px solid #0099A0;
}

h1, .h1 {
    font-weight: 500;
    font-size: 3.2rem;
    text-transform: uppercase;
    max-width: 80%;
}
h2, .h2 {
    font-weight: 500;
    font-size: 2.8rem;
}
h3, .h3 {
    font-weight: 500;
    font-size: 2.3rem;
    text-transform: uppercase;
}
h4, .h4 {
    font-weight: 300;
    font-size: 1.5rem;
}
h5, .h5 {
    font-weight: 300;
    font-size: 1.2rem;
}
h6, .h6 {
    font-weight: 500;
    font-size: 1rem;
}
p, .p {
    font-weight: 300;
    font-size: .9rem;
}

header {
    border-bottom: #0099A0 1px solid;
    z-index: 995595607309;
    position: sticky;
    top: 0;
    background: #ffffff;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
header #header {
    display: none!important;
}
#headerLogo {
    max-width: 100px;
    cursor: pointer;
}
#headerMenu {
    display: flex;
    position: relative;
    list-style: none;
    gap: 20px;
    text-transform: uppercase;
}
#headerMenu > * {
    cursor: pointer;
}
#headerPhones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
#headerPhones > * {
    font-weight: 600;
    color: #0099A0!important;
    text-decoration: none;
}
    .headerAbout, .headerServices{
        position: absolute;
        list-style: none;

        top: 30px;
        left: -20px;
        height: 10px;

        display: none;
        flex-direction: column;
        gap: 15px;
        background: #FFFfff;
        padding: 20px;
        border-radius: .5rem;
        border: 1px solid #0099A0;

        opacity: 0;
        transition: all .5s ease-out;
    }
    .header a {
        text-decoration: none!important;
        color: unset!important;
    }

.orange-button {
    width: fit-content;
    padding: 1.3rem 3rem;
    border-radius: 4rem;

    box-shadow: 0 0 5px #c24300 inset;
    border: 3px solid #007177;

    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa!important;

    background-color: #ff5b00;

    transition: all .3s ease-out;
}
.orange-button-woshdw {
    width: fit-content;
    padding: 1.3rem 3rem;
    border-radius: 4rem;

    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa!important;

    background-color: #ff5b00;
    border: 1px solid #ff5b00;

    transition: all .3s ease-out;
}
.orange-button:hover, .orange-button-woshdw:hover {
    background-color: #FFFfff;
    color: #ff5b00!important;
    border-color: #ff5b00;
    box-shadow: unset;
}
.backFrame {
    content: '';
    position: absolute;
    left: -2rem;
    top: 3rem;
    width: 100%;
    height: calc(100% - 10rem);
    background-color: #0099A020;
    border: 1px solid #0099A010;
    box-shadow: 0 0 10px #0099A070;

    padding: 2rem;
    border-radius: 2rem;

    z-index: 0;
}
.hx-limb-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 5rem 0;

    width: 100%;
    max-width: 1200px;
}

#hx-limb-full-hero {
    background-color: #0099A0;
    background-image: url('https://static.tildacdn.com/tild6666-3132-4038-b838-356466633035/Wireframe_-_7_2.jpg');
    position: relative;
    transition: padding-top .3s ease-out;
}
#hx-limb-hero {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    color: #ffffff;

    padding: 6rem 0;

    width: 100%;
    max-width: 1200px;
}
#hx-limb-bread {
    display: flex;
    gap: 1rem;

    padding: 2rem 0;
    color: #2f2b2a;

    width: 100%;
    max-width: 1200px;
}
#hx-limb-types {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 3rem 0;

    width: 100%;
    max-width: 1200px;
}
#hx-limb-types .h3 {
    color: #2f2b2a;
    font-weight: 500;
    text-transform: uppercase;
}

.hx-limb-tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    border: 1px solid #0099A0;
    border-radius: .25rem;
    padding: .2rem;
    gap: .2rem;
}
.hx-limb-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;

    padding: 1rem;
    text-align: center;

    background-color: #ffffff;
    color: #2B2F33;

    cursor: pointer;
    border-radius: .5rem;

    transition: all .3s ease-out;
}
.hx-limb-tab:hover {
    background-color: #0099A0;
    color: #ffffff;
    border-radius: .3rem;
}
.hx-limb-tab-active {
    background-color: #0099A0;
    color: #ffffff;
    border-radius: .3rem;
}

.hx-limb-tab-in {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}
.hx-limb-tab-in-img {
    display: flex;
    flex: 0.98;
    justify-content: center;
    padding: 1rem 0 1rem 1rem;

    border-radius: .25rem;
    width: 300px;
    background-color: #0099A0;
    overflow: hidden;
}
.hx-limb-tab-in-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.hx-limb-tab-in-info .h4 {
    color: #2f2b2a;
}
.hx-limb-tab-in-info .h5 {
    color: #2f2b2a;
}
.hx-limb-tab-in-info-function {
    width: fit-content;
    padding: .5rem 1rem;

    border: 1px solid #ff5b00;
    border-radius: .25rem;

    color: #007177;
    background-color: #ffffff;

    cursor: default;
}
.hx-limb-tab-in-info ul {
}
.hx-limb-tab-in-info li {
    list-style-position: inside;
    font-weight: 300;
}

    #hx-limb-materials {
}
.hx-limb-materials-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 1rem;
    gap: 1rem;

    z-index: 1;
}
.hx-limb-materials-point {
    display: flex;
    gap: 1rem;
    flex: 1 0 0;
    align-items: center;
    padding: 1rem;

    min-width: fit-content;

    /*border: 1px solid #0099A090;*/

    border: 1px solid #0099A050;
    box-shadow: 0 0 5px #00000040 inset;

    border-radius: 1rem;
    background-color: #fff;
}
.hx-limb-materials-point img {
    width: 2.5rem;
}

    #hx-limb-variants {
}
.hx-limb-variants-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    overflow: visible;
}
.hx-limb-variants-list-point {
    display: flex;
    gap: 1rem;
    flex: 1 0 0;

    padding: 0 1rem;
    border: 1px solid #0099A090;
    border-radius: 1rem;
    background-color: #ffffff80;

    width: 50%;
}
.hx-limb-variants-list-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem 1rem 1rem 0;
}
.hx-limb-variants-list-header {
    font-weight: 500;
    color: #c24300;
}
.hx-limb-variants-list-img {
    position: absolute;
    right: 0;
    /*bottom: -1rem;*/
    z-index: -1;
    height: 100%;
    /*transform: rotate(-10deg);*/
}

    #hx-limb-structure {
 }
.hx-limb-structure-block {
    display: flex;
    z-index: 1;
}
.hx-limb-structure-block-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
}
.hx-limb-structure-block-info-in {
    display: flex;
    justify-content: left;
    flex: 1;
    text-align: left;
    align-items: center;
    padding: 1rem;
    border: 1px solid #0099A050;
    box-shadow: 0 0 5px #00000040 inset;
    border-radius: 1rem;
    background-color: #FFFfff;

    cursor: default;
}
.hx-limb-structure-block-img {
    padding-inline: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
}
.hx-limb-structure-block-img-select {
    display: flex;
    position: absolute;

    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: .9rem;
    border-radius: 2rem;
    border: 1px solid #0099A050;
    cursor: default;

    background-color: #FFFfff;
}
    .first {
        top: 0;
        left: 3rem;
    }
    .second {
        top: 10rem;
        left: 2.5rem;
    }
    .third {
        top: 7rem;
        left: 2rem;
    }
    .third2 {
        top: 13rem;
        left: 3rem;
    }
    .four {
        top: 18rem;
        left: 2rem;
    }
.hovered {
    border-color: #ff5b00;
}

    #hx-limb-modules {
}
.hx-limb-modules-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    padding: 0 2rem;
}
.hx-limb-modules-list-point {
    display: flex;
    gap: 1rem;
    flex: 1 0 0;
}
.hx-limb-modules-list-img {
    height: 10rem;
    padding: 1rem;

    pointer-events: none;
}
.hx-limb-modules-list-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem 1rem 1rem 0;
}
.hx-limb-modules-list-header {
    font-weight: 500;
    color: #c24300;
}
.hx-limb-modules-wbttn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 3rem 0;

    width: 100%;
    max-width: 1200px;
}

    #hx-limb-feet  {
}
    #hx-limb-feet .slick-prev {
        left: -5.5rem;
    }
    #hx-limb-feet .slick-next {
    right: -5.5rem;
}
.hx-feet-slide {
    background-color: #fff;
    margin: 1rem .5rem .5rem .5rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
}
.hx-limb-feet-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding-top: 1rem;
}
.hx-limb-feet-item {
    flex: 1 0 15%;
    background-color: #FFFfff;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: all .3s ease-out;
    cursor: default;

    border: 1px solid #0099A050;
    box-shadow: 0 0 5px #00000040 inset;
}
.hx-limb-feet-item:hover {
    scale: 1.01;
    border-radius: 1.2rem;
    box-shadow: 0 0 5px #00000000 inset;
}
.hx-feet-slide-header {
    font-weight: 500;
    color: #c24300;
}
.hx-feet-slide-p {
    padding-top: 1rem;
}

    #slider-feet {
        padding: 1rem 0 0 0;
    }

    #hx-limb-liners {

    }
.hx-limb-liners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1rem;
    justify-items: stretch;
}
.hx-limb-liners-point {
    display: flex;
    align-items: center;
    flex: 1 1 100px;

    padding: 1rem 2rem;
    border: 1px solid #0099A050;
    width: fit-content;
    border-radius: 1rem;

    background-color: #FFFfff;
    box-shadow: 0 0 5px #00000040 inset;

    min-width: 20%;
}
.hx-limb-liners-point-before {
    content: '2';
    display: flex;
    position: absolute;
    left: .7rem;
    top: .6rem;
    opacity: 0;

    font-weight: 500;
    color: #ff5b00;
}
.hx-limb-liners-materials-list {
    display: flex;
    gap: 1rem;
}
.hx-limb-liners-materials-point {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.hx-limb-liners-materials-header {
    font-weight: 500;
    color: #c24300;
    padding-bottom: .5rem;
}
.hx-limb-liners-materials-img {
    width: 2.5rem;
    height: 2.5rem;
    opacity: .1;
}
.hx-limb-liners-materials-ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #FFFfff;

    border-radius: 1rem;
    box-shadow: 0 0 5px #00000030 inset;
    border: 1px solid #0099A050;
}
.hx-limb-liners-materials-list .lil {

}

    #hx-limb-devices {

    }
.hx-limb-devices-list {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    flex-wrap: wrap;
}
.hx-limb-devices-list-point {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex: 1;

    padding: 1rem 1rem;
    border: 1px solid #0099A090;
    width: fit-content;
    border-radius: 1rem;
}
.hx-limb-devices-list-header {
    font-weight: 500;
    color: #c24300;
}
.hx-limb-devices-list img {
    width: 2.5rem;
    padding: 0 1rem 1rem 0;
}
.hx-limb-devices-list-p {
}

.hx-limb-devices-perks {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem 1rem;
    border: 1px solid #0099A090;
    border-radius: 1rem;
}
.hx-limb-devices-perks-p {
    max-width: 70%;
    font-weight: 300;
}

.hx-limb-devices-img {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 2rem;
    max-height: 50%;
    max-width: 100px;
}

    .hx-reviews-slider {
    padding-top: 1rem;
}
.hx-review-slide {
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 .5rem;

    background-color: #FFFfff;

    box-shadow: 0 0 5px #00000030 inset;
    border: 1px solid #0099A050;

    width: 100%;
    text-align: center;
}
.hx-review-slide img {
    width: 50%;
    margin: 0 auto;

    border-radius: 100%;
}
.hx-review-name {
    font-size: 1.5rem;

    padding: 2rem 0 1rem 0;
}
.hx-review-info {
    padding: 0 1rem;
}

    #hx-limb-form {
    }
.hx-limb-form-block {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
}
.hx-limb-form-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex: 1;
}
.hx-limb-form-column a, .hx-limb-form-column p {
    padding: 1rem;
    text-decoration: none;
    color: #2B2F33;
}
.hx-limb-form-column ::placeholder {
    color: #2B2F3390;
}

.hx-limb-form-column input, .hx-limb-form-column textarea {
    padding: 1rem;
    border: #0099A0 1px solid;

    color: #2B2F33!important;
    font-size: 1rem;

    border-radius: .5rem;
}

    #hx-limb-feet {

    }
    #hx-limb-feet img {
        height: 25vh;
    }
    #hx-limb-feet .hx-limb-slide {
        background-color: #FFFfff;
        box-shadow: 0 0 5px #00000000 inset;
        border: 1px solid #0099A050;
        /*margin: 0;*/
    }

/**/
    #slider-modules {
    margin-top: -4rem;
}
.hx-limb-slider {
    display: flex;
    gap: 2rem;

    /*overflow: hidden;*/

    width: 100%;
    max-width: 1200px;
}
.hx-limb-slide > p {
    padding-top: .5rem;
}
.hx-limb-slider-arrows {
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    border: #0099A0 1px solid;
    width: 100%;
    height: 100%;

    z-index: 0;
}
    #hx-limb-slider-lar {
        display: flex;
        align-items: center;
        justify-content: center;

        content: '';
        position: absolute;
        top: 50%;
        left: 2rem;
        translate: 0 -50%;
        z-index: 2;

        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        border: 1px solid #0099A090;
        background-color: #FFFfff;

        cursor: pointer;
    }
    #hx-limb-slider-rar {
    display: flex;
    align-items: center;
    justify-content: center;

    content: '';
    position: absolute;
    top: 50%;
    right: 2em;
    translate: 0 -50%;
    z-index: 2;

    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: 1px solid #0099A090;
    background-color: #FFFfff;

    cursor: pointer;
}

.hx-limb-slide {
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 1rem;

    box-shadow: 0 0 5px #00000030 inset;
    text-align: center;
    background: #fff;
    color: black!important;
}
.hx-limb-slide img {
    height: 30vh;
    margin: 0 auto;
}
.hx-limb-slide.header {
}

/**/
.reviewShortsPreview {
    aspect-ratio: 9 / 16;
    border-radius: 1rem;
    margin-inline: 1rem;
    cursor: pointer;
    border: 1px solid #0099A090;
    transition: scale .3s ease-out;
}
.reviewShortsPreview:hover {
    scale: 0.98;
}
.reviewShortsEmbedDiv {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;

    background: #00000080;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    z-index: 995595607;
}
.reviewShortsEmbed {
    height: calc(100% - 4rem);
    aspect-ratio: 9 / 16;
    border-radius: 1rem;
}

#close-button {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    z-index: 9999595607310;
    cursor: pointer;
    pointer-events: none;
}

/*
*/
/*Кастом тильды*/
.t-popup__container {
    border-radius: 1rem!important;
}
#rec729208512 .t-submit {
    background-color: #0099A0!important;
    border-radius: .5rem !important;
}
#rec729208512 .t-input {
    border-radius: .5rem !important;
}

/*
*/
@keyframes anishow {
    from {opacity: 0; translate: 0 -15px}
    to {opacity: 1; translate: 0}
}
.anishow {animation: anishow .5s ease-out forwards}

/*
*/
@media screen and (max-width: 1600px) {
    h1, .h1 {
        max-width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .hx-limb-section {
        padding: 0 4rem;
    }
    .hx-limb-variants-list-img {
        height: 80%;
    }
    .hx-limb-modules-wbttn p {
        font-size: 1rem;
    }
    .hx-limb-feet-item,
    .hx-limb-liners-point,
    .hx-limb-liners-materials-ul
    {
        padding: 1rem 1.5rem;
    }

    #slider-reviews {
        .slick-prev
        {
            left: -3.5rem;
        }
        [dir='rtl'] .slick-prev
        {
            right: -3.5rem;
            left: auto;
        }
        .slick-next
        {
            right: -3.5rem;
        }
        [dir='rtl'] .slick-next
        {
            right: auto;
            left: -3.5rem;
        }
    }

    .headerPC {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
    h3, .h3 {
        font-size: 2rem;
    }
    h4, .h4 {
        font-size: 1.2rem;
    }

    #hx-limb-hero p {
        margin-top: -2rem;
    }
    .orange-button, .orange-button-woshdw {
        font-size: 1rem;
    }
    .hx-limb-variants-list-point {
        width: unset;
        flex: 1;
    }
    .hx-limb-modules-wbttn p {
        max-width: 80vw;
    }

    .hx-limb-structure-block-info-in {
        padding: 1rem;
    }

}

@media screen and (max-width: 900px) {
    h1, .h1 {

        max-width: unset;
    }

    .hx-limb-tab {
        flex: 1 0 40%;
    }
    .hx-limb-tab-in-img {
        flex: 1.5;
        padding: 1rem;
    }
    .hx-limb-variants-list-img {
        /*flex: 1;*/
        position: relative;
        right: unset;
        bottom: unset;
        z-index: unset;
        height: unset;
        max-width: 100%;
    }
    .hx-limb-tab-in-info {
        padding-top: unset;
    }
    .hx-limb-tab-in {
        align-items: center;
    }
    .hx-limb-feet-item {
        flex: 1 1 30%;
    }
    .hx-limb-liners-materials-point:nth-child(2) {
        flex: 1.3;
    }
    .hx-limb-liners-materials-list {
        flex-wrap: wrap;
    }
    .hx-limb-liners-materials-ul {
        height: 100%;
    }
    .hx-limb-liners-materials-point {
        min-width: 40%;
    }
    .hx-limb-liners-point {
        align-items: flex-start;
    }
    .hx-limb-devices-list-header img {
        display: none;
    }

    .hx-limb-structure-block {
        display: flex;
    }
    .hx-limb-structure-block-info {
        flex-direction: column;
        flex: 1;
        /*max-width: 70%;*/
    }
    .hx-limb-structure-block-img {
        flex: 1;
        padding-inline: unset;
    }
    .hx-limb-structure-block-img-select {
        translate: 8vw;
    }

    .hx-limb-structure-block-info-in {
        padding: 1rem;
    }
    #hx-limb-structure .hx-limb-structure-block:nth-child(3) {
        display: none;
    }
    .hx-limb-structure-block-img {
        order: -3;
        min-height: 50dvh;
        margin: 0 auto;
    }
    #hx-limb-structure .hx-limb-structure-block:last-child {
        flex-direction: column;
    }

    .slick-prev,
    .slick-next {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    header a {
        text-align: center;
    }

    h1, .h1 {
        font-size: 2rem;
    }
    h3, .h3 {
        font-size: 1.5rem;
    }

    #hx-limb-full-hero {
        background-image: none;
    }
    .hx-limb-section {
        padding: 0 1rem;
    }
    .hx-limb-block {
        padding: 5rem 1rem;
        overflow: hidden;
    }
    #hx-limb-bread {
        flex-wrap: wrap;
    }

    .backFrame {
        border-radius: 0;
    }

    .orange-button, .orange-button-woshdw {
        width: auto;
        text-align: center;
    }
    .hx-limb-tab {
        flex: 1 0 70%;
    }
    .hx-limb-tab-in {
        flex-direction: column;
        margin-top: -1rem;
    }
    .hx-limb-tab-in-img {
        width: calc(100% - 2rem);
        width: -webkit-fill-available;
    }
    .hx-limb-modules-list {
        padding: 0 1rem;
    }
    .hx-limb-modules-list-point {
        align-items: center;
    }

    .hx-limb-feet-list {
        flex-direction: column;
    }

    .hx-limb-liners-list {
        flex-direction: column;
    }
    .hx-limb-liners-materials-list {
        flex-direction: column;
        gap: .5rem;
    }
    .hx-limb-liners-point {
        align-items: flex-start;
        flex: none;
        width: auto;
        font-size: .9rem;
    }

    .hx-limb-materials-list {
        flex-direction: column;
        align-items: stretch;
    }
    .hx-limb-variants-list-point {
        width: auto;
        background-color: #FFFfff99;
    }
    .hx-limb-devices-list {
        flex-direction: column;
    }
    .hx-limb-form-block {
        flex-direction: column;
    }
    .hx-limb-form-column:nth-child(1) {
        order: +2;
    }
    .hx-limb-form-column a, .hx-limb-form-column p {
        text-align: center;
    }

    .hx-limb-liners-materials-ul {
        margin-top: unset;
    }
    .hx-limb-devices-perks-p {
        max-width: unset;
    }

    .hx-limb-structure-block {
        gap: 1rem;
    }
    .hx-limb-structure-block-info {
        gap: 1rem;
        max-width: unset;
    }
    .hx-limb-structure-block-img {
        flex: unset;
    }
    .hx-limb-structure-block-img-select {
        z-index: 2;
        width: 1.5rem;
        height: 1.5rem;
    }
    .hx-limb-structure-block-info-in {
        padding: 1rem;
        justify-content: left;
        text-align: left;
        font-size: .8rem;
    }


    .first {
        left: auto;
        right: 90%;
        top: -3%;
    }
    .second {
        left: auto;
        right: 40%;
        top: 45%;
    }
    .third {
        left: auto;
        right: 96%;
        top: 35%;
    }
    .third2 {
        left: auto;
        right: 40%;
        bottom: 25%;
        top: auto;
    }
    .four {
        left: auto;
        right: 90%;
        top: auto;
        bottom: 8%;
    }

    .hx-limb-feet-item,
        /*.hx-limb-liners-point,*/
    .hx-limb-liners-materials-ul,
    .hx-limb-devices-list-point {
        padding: 1rem 1rem;
    }
    .hx-limb-devices-img {
        position: relative;
        translate: -50% 0;
        left: 50%;
    }
}
