@media screen and (min-width: 1000px) {
    .form {
        position: sticky;
        top: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .form {
        max-width: unset!important;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 1rem;
    }
}