body {
    background: black;
    animation: body 2s linear forwards;
}
.logoLoader {
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    
    max-width: 50vw;

    animation: logoLoader 2s infinite ease;
}

/**/
@keyframes body {
    from {background: white}
    to {background: black}
}
@keyframes logoLoader {
    from {scale: 1}
    80% {scale: 0.95}
    to {scale: 1}
}