@font-face {
    font-family: 'doFont';
    src: url("https://holyxey.github.io/public/Do/eina/Eina02-SemiBold.ttf");
    font-weight: 600;
}

/**/
* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    animation: wnbload 2s ease-in forwards;
}
.logoLoader {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    max-width: 20vw;

    animation: logoLoader 3s infinite ease;
}
.logoLetter {
}
#DoStart {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.doButton {
    font-family: 'doFont', Helvetica, sans-serif;
    font-size: .9rem;

    background-color: #ffffff10;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    padding: 1rem 1rem .8rem 1rem;
    border-radius: .5rem;
    border: 1px solid white;
}

/**/
@keyframes wnbload {
    from {background: white}
    to {background: black}
}
@keyframes logoLoader {
    from {scale: 1; opacity: .09}
    80% {scale: .95; opacity: 1}
    to {scale: 1; opacity: .09}
}
@keyframes logoLetter {
    from {
        opacity: 1;
        translate: 0 0;
        transform: scaleY(100%);
    }
    to {opacity: 0;
        translate: 30px;
        transform: scaleY(80%);
    }
}
@keyframes logoLast {
    from {
        opacity: 1;
        translate: 0 0;
    }
    to {
        opacity: 0;
        translate: -15px;
    }
}