* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
}
.logoLoader {
    max-width: 20vw;

    animation: logoLoader 3s infinite ease;
    transition: all .3s ease-out;
}
#DoStart {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: wnbload 2s ease-in forwards;
}

/**/
@keyframes wnbload {
    from {background: white}
    to {background: black}
}
@keyframes logoLoader {
    from {scale: 1; opacity: .09}
    80% {scale: .95; opacity: 1}
    to {scale: 1; opacity: .09}
}

/**/
@font-face {
    font-family: 'doFont';
    src: url("https://holyxey.github.io/public/Do/eina/Eina02-SemiBold.ttf");
    font-weight: 600;
}