.caarrdd {
    width: 90px;
    height: 90px;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 1em;
    margin: 1em;
}
.filter_active {
    border-color: #FF4F92;
}


.h_showElement {
    /*transition: all .3s ease-out;*/
    animation: h_showElement .3s ease-out forwards;
}
.h_hideElement {
    /*transition: all .3s ease-out;*/
    animation: h_hideElement .3s ease-out forwards;
}

@keyframes h_showElement {
    from {
        opacity: 0;
        translate: 0 -10px;
    }
    to {
        opacity: 1;
    }
}
@keyframes h_hideElement {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        translate: 0 50px;
    }
}