#popupStaff {
    background-color: #11111150;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.staffBlock {
    display: flex;
    padding: 10rem;
    margin: 10rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;

    border-radius: 1rem;
    border: 1px solid #555555;
    background: #222222;
}
.staffRow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
    .staffPoint {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: .5rem;
    }
        .staffProfile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
            .profileFace {
                width: 100px;
                height: 100px;
                border-radius: 65px 10px 65px 65px;
            }
            .profileName {
                color: #F8F3C8;
                font-family: "Roboto", Tahoma, Arial, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
        }
        .staffQuote {
            display: flex;
            width: 300px;
            padding: 2rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            border-radius: 10px 65px 65px 65px;
            background: #1E1E1E;
        }
            .quotePosition {
                align-self: stretch;
                color: #F8F3C8;

                /*    */
                text-align: center;
                font-family: "Roboto", Tahoma, Arial, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            .quoteText {
                align-self: stretch;
                color: #FFFFFF;

                /*    */
                text-align: center;
                font-family: "Roboto", Tahoma, Arial, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }