* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    font-family: 'Manrope', 'Helvetica Neue', sans-serif;
    position: relative;
    scroll-behavior: smooth;
}
:root {
    --brown: #2B2024;
    --brownSoft: #574d50;
    --white: #FBF9FA;
    --red: #FD0054;
    --deep: #A80038;
    --rem: 10px
}
::-webkit-scrollbar {
    display: none;
}
ul, ol {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: var(--white);
    overflow-x: hidden;
}
article {
    padding: calc(var(--rem) * 1);
    margin: calc(var(--rem) * 2) calc(var(--rem) / 2);
    border-radius: calc(var(--rem) * 3);

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--rem) * 1);

    opacity: 0;
}
#cases {
    overflow-x: hidden;
}

h1, .h1 {
    font-size: calc(var(--rem) * 3);
    font-weight: 600;
    text-align: center;
    width: 100%;
}
h2, .h2 {
    font-size: calc(var(--rem) * 1.5);
    text-align: center;
    font-weight: 500;
}

#menu {
    background-color: var(--red);
}
    #menu a {
        flex: 1;
        min-width: fit-content;
        text-align: center;
        text-transform: uppercase;

        color: var(--brown);
        font-weight: 900;
        font-size: calc(var(--rem) * 1.5);

        background-color: white;
        padding: calc(var(--rem) * 2);
        border-radius: calc(var(--rem) * 2);
    }
.textField {
    background-color: white;
    border: 1px solid var(--red);
    padding: calc(var(--rem) * 2);
}

.case {
    background-color: var(--brownSoft);
    gap: 0;
}
    .caseHeader {
        color: var(--brown);
        font-weight: 900;
        font-size: calc(var(--rem) * 1.5);
        text-transform: uppercase;

        width: 100%;
        text-align: center;

        background-color: white;
        padding: calc(var(--rem) * 1.5) calc(var(--rem) * 2);
        border-radius: calc(var(--rem) * 2) calc(var(--rem) * 2) calc(var(--rem) * 0) calc(var(--rem) * 0);
    }
    .case > img {
        max-width: 100%;
        border-radius: calc(var(--rem) * 0) calc(var(--rem) * 0) calc(var(--rem) * 2) calc(var(--rem) * 2);
    }
    .case > a {
        position: absolute;
        right: calc(var(--rem) * 2);;
        bottom: calc(var(--rem) * 2);;
        border-radius: calc(var(--rem) * 1.5);
        background-color: var(--brown);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .case .arrow {
        width: calc(var(--rem) * 4);
        height: calc(var(--rem) * 4);
        fill: var(--white);
    }
    .caseNavBar {
        display: flex;
        width: 100%;
        gap: calc(var(--rem));
        overflow: hidden;
        border-radius: calc(var(--rem)) calc(var(--rem)) calc(var(--rem) * 2) calc(var(--rem) * 2);
    }
    .caseButton {
        flex: 1;
        text-align: center;
        padding: calc(var(--rem) * 2) calc(var(--rem) * 4);
        text-transform: uppercase;
        font-weight: 900;
        font-size: calc(var(--rem) * 1.5);
    }
    .caseButton:nth-child(1) {
        border-radius: calc(var(--rem)) calc(var(--rem)) calc(var(--rem)) calc(var(--rem) * 2);
        color: white;
    }
    .caseButton:nth-child(2) {
        border-radius: calc(var(--rem) * 2);
        background-color: var(--white);
        color: var(--brown);
        min-width: fit-content;
        max-width: fit-content;
    }

#contactButton {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /*flex-direction: column;*/
}
    #contactButton a {
        flex: 1;
        width: fit-content;
        margin-inline: auto;
        text-align: center;
        font-weight: 900;
        font-size: calc(var(--rem) * 1.5);
        text-transform: uppercase;
        padding: calc(var(--rem) * 2) calc(var(--rem) * 3);
        color: var(--brown);
        border-radius: calc(var(--rem) * 3);

        cursor: pointer;

        animation: smoothScale 3s ease-in-out infinite;
    }
    #contactButtonTelegram {
        border: 2px solid #2AABEE;
    }
    #contactButtonWhatsapp {
        border: 2px solid #25D366;
    }
    #contactButtonEmail {
        border: 2px solid var(--red);
    }

#about {
    overflow-x: hidden;
}
#about #aboutPortfolio {
    flex: 1;
    min-width: fit-content;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--red);

    color: var(--white);
    font-weight: 900;
    font-size: calc(var(--rem) * 1.5);

    margin-top: var(--rem);
    padding: calc(var(--rem) * 2);
    border-radius: calc(var(--rem) * 2);
}

/*
*/
#up {
    position: fixed;
    top: calc(var(--rem) * 1);
    right: calc(var(--rem) * 1);
    background-color: var(--red);
    border: 1px solid #ffffff80;
    border-radius: calc(var(--rem) * 2);
    /*transform: rotate(3deg);*/
    opacity: 0;
    z-index: 2;

    animation: hideUpButton 0s ease-out forwards
}
    #up svg {
        width: calc(var(--rem) * 5);
        height: calc(var(--rem) * 5);
        fill: var(--white);
        transform: rotate(-3deg);
    }


/*
*/
#loader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    z-index: 995595609309;
    transition: all 0s linear;

    display: flex;
    align-items: center;
    justify-content: center;
}
#loader svg {
    animation: loader 2s infinite linear;
}
@keyframes loader {
    from {rotate: 0deg}
    50% {rotate: 180deg; scale: .8}
    to {rotate: 360deg}
}

/*
*/
@media screen and (min-width: 700px) {
    article {
        max-width: 700px;
        margin-inline: auto;
    }
}

/*
*/
@keyframes showArticleLeft {
    from {opacity: 0; translate: -50px 0}
    to {opacity: 1; translate: 0 0}
}
@keyframes showUpButton {
    from {
        top: calc(var(--rem) * -3);
        right: calc(var(--rem) * -5);
        background-color: var(--white);
        rotate: 45deg;
        opacity: 0;
    }
    to {
        top: calc(var(--rem) * 1);
        right: calc(var(--rem) * 1);
        opacity: 1;
    }
}
@keyframes hideUpButton {
    from {
        top: calc(var(--rem) * 1);
        right: calc(var(--rem) * 1);
        opacity: 1;
    }
    to {
        top: calc(var(--rem) * 3);
        right: calc(var(--rem) * -5);
        background-color: var(--white);
        opacity: 0;
    }
}
@keyframes hideArticle {
    from {opacity: 1; translate: 0 0}
    to {opacity: 0; translate: 0 0}
}
@keyframes smoothScale {
    from {transform: scale(1)}
    50% {transform: scale(1.02)}
    from {transform: scale(1)}
}