* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Manrope', 'Helvetica Neue', sans-serif;
}
:root {
    --brown: #2B2024;
    --white: #FBF9FA;
    --red: #FD0054;
    --deep: #A80038;
    --rem: 10px
}
::-webkit-scrollbar {
    display: none;
}
ul, ol {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
a {
    text-decoration: none;
}
body {
    background-color: var(--white);
}
article {
    padding: calc(var(--rem) * 1);
    margin: calc(var(--rem) * 2) calc(var(--rem) / 2);
    border-radius: calc(var(--rem) * 3);

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--rem) * 1);

    rotate: 0;
    opacity: 0;
    translate: 30px 50px;
    transition: transform .3s ease-out, opacity .3s ease-out;
}

h1, .h1 {
    font-size: calc(var(--rem) * 3);
    font-weight: 600;
    text-align: center;
    width: 100%;
}
h2, .h2 {
    font-size: calc(var(--rem) * 1.5);
    text-align: center;
    font-weight: 500;
}

#menu {
    background-color: var(--red);
}
    #menu a {
        flex: 1;
        min-width: fit-content;
        text-align: center;
        text-transform: uppercase;

        color: var(--brown);
        font-weight: 900;
        font-size: calc(var(--rem) * 1.5);

        background-color: white;
        padding: calc(var(--rem) * 2);
        border-radius: calc(var(--rem) * 2);
    }
#about {
    background-color: white;
    border: 1px solid var(--red);
    padding: calc(var(--rem) * 2);
}

.case {
    background-color: var(--brown);
}
    .caseHeader {
        color: var(--brown);
        font-weight: 900;
        font-size: calc(var(--rem) * 1.5);

        width: 100%;
        text-align: center;

        background-color: white;
        padding: calc(var(--rem) * 1) calc(var(--rem) * 2);
        border-radius: calc(var(--rem) * 2) calc(var(--rem) * 2) calc(var(--rem) * 1) calc(var(--rem) * 1);
    }
    .case > img {
        max-width: 100%;
        border-radius: calc(var(--rem) * 1) calc(var(--rem) * 1) calc(var(--rem) * 2) calc(var(--rem) * 2);
        /*border: 1px solid var(--white);*/
    }
    .case > a {
        position: absolute;
        right: calc(var(--rem) * 2);;
        bottom: calc(var(--rem) * 2);;
        border-radius: calc(var(--rem) * 1.5);
        background-color: var(--brown);

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .case .arrow {
        width: calc(var(--rem) * 4);
        height: calc(var(--rem) * 4);
        fill: var(--white);
    }


/*
*/
@keyframes showArticle {
    from {opacity: 0; translate: 30px 50px}
    to {opacity: 1; translate: 0 0}
}
@keyframes hideArticle {
    from {opacity: 1; translate: 0 0}
    to {opacity: 0; translate: 30px 50px}
}