
	@media screen and (max-width: 1300px) {
	h1 {
		font-size: 3rem;
		font-weight: 400;
	}
		.h1 {
			font-size: 3rem;
			font-weight: 400;
		}
		#rec600139613 .tn-elem[data-elem-id="1685869433216"] .tn-atom {
			font-size: 3rem!important;
		}
		#rec645266902 .tn-elem[data-elem-id="1685869433965"] .tn-atom {
			font-size: 3rem!important;
		}

	.holyxey {
		padding: 0 2rem!important;
	}
	.card {
		min-width: 350px;
	}
	.button_filter {
		width: 40%;
	}
	.slider {
		max-width: 90%;
	}
	#header {
		.header_menu {
			margin-left: 3rem;
		}
		
		width: unset;
	}
	#Cases {
		.block_row {
			padding: 4rem 0;
		}
	}
	#Companies {
		.block_row {
			width: unset;
			padding: 1rem 3rem;
		}
		.block_cards {
			gap: 3rem 2rem;
		}
	}
	#footer {
		.block_row {
			/* justify-content: space-between; */
			flex-wrap: wrap;
			gap: 2rem 9rem;
		}
		.footer_1 {
			padding-right: unset;
		}
	}
	.footer_contacts {
		translate: 0;
	}
}

@media screen and (max-width: 1000px) {
	.video, .image {
		display: none;
	}
	#header_block {
		display: none!important;
	}
	#Hero .block_column {
		align-items: center;
		text-align: center;
	}
	#footer {
		.block_row {
			justify-content: center;
			align-content: center;
			flex-direction: column;
		}
		.footer_1 {
			flex-direction: column;
			align-content: center;
			align-items: center;
			text-align: center;
		}
		.footer_contacts {
			justify-content: center;
		}
		.footer_contacts svg {
			display: none;
		}
	}
	#reviews .h1 {
		text-align: center;
	}
	#hero_text_block {
		padding: 0!important;
		height: 100vh;
	}
	#Cases {
		.block_cards {
			justify-content: center;
		}
		.card {
			max-width: unset;
			min-width: 80%;
		}
		.block_column {
			.block_row {
				flex-direction: column;
			}
		}
		.button_filter {
			width: calc(100% - 2rem);
		}
		p {
			max-width: unset!important;
			text-align: center;
		}
	}
	h1, .h1 {
		text-align: center!important;
	}
}

@media screen and (max-width: 500px) {
	.hero_buttons {
		flex-direction: column;
	}
	
	#Cases {
		.block_cards {
			gap: 2rem;
			justify-content: center;
		}
		.button_filter {
			width: 100%;
		}
		.card_button1, .card_button2 {
			padding: .6rem 1.2rem .45rem 1.2rem;
		}
	}
	#Companies {
		.block_row {
			padding: 1rem 0rem;
		}
		.card {
			min-width: 40%;
		}
	}
	.slider {
		max-width: 100%;
	}
	.Review_slide {
		max-height: unset!important;
		height: unset!important;
	}
		h1, .h1, #rec600139613 .tn-elem[data-elem-id="1685869433216"] .tn-atom, #rec645266902 .tn-elem[data-elem-id="1685869433965"] .tn-atom {
			font-size: 2.5rem!important;
			line-height: 2.5rem!important;
			text-align: center!important;
		}
	#headerVideo {
		background-image: unset;
	}
}