@media screen and (orientation: portrait) {
    #hx-at-hero-video {
        top: 0;
        left: 50%;
        translate: -50% 0;

        width: unset;
        height: 100%;
    }
}

@media screen and (min-width: 800px) {
    .hx-at-hdr-mobile-menu {
        display: none;
    }
    #headerM {
        display: none;
    }
    #hx-at-hdr-mobile-back {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #headerPC {
        display: none;
    }
    #headerM {
        padding: var(--rem-a) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #headerMenuButton {
        cursor: pointer;
    }
    .mbd {
        width: 30px;
        height: 4px;
        background-color: var(--c-bl);
    }
    .mbd:nth-child(2) {
        width: 50%;
        margin: 5px 0 5px auto;
        transition: all .3s ease-out;
    }
    #headerMenuButton:hover > .mbd:nth-child(2) {
        width: 100%;
    }

    .hx-at-hdr-mobile-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: flex-end;

        text-align: center;

        padding: var(--rem-a);

        /*top: var(--rem-aa);*/
        bottom: var(--rem-aa);
        right: var(--rem-aa);

        background-color: var(--c-wht);
        border-radius: var(--rem-a);
        box-shadow: 0 0 10px var(--c-gr-tr);

        z-index: 9999999999;

        height: unset;
    }
    .hx-at-hdr-mobile-menu > * {
        transition: all .3s ease-out;
    }
    .hx-at-hdr-mob-li {
        color: var(--c-gr)!important;
        padding-block: var(--rem-a);
        width: 100%;
    }
    .hx-at-btn-mob-p {
        color: var(--c-wht)!important;
        font-size: var(--rem-aa);
        padding: var(--rem-a) var(--rem-b) calc(var(--rem-a) - 2px) var(--rem-b);
        margin-block: var(--rem-aa);
        border-radius: var(--rem-aa);
        font-weight: 500;
        text-transform: uppercase;
        background-color: var(--c-pk);
        border: 1px var(--c-pk) solid;
        transition: background-color .4s ease;
        width: -webkit-fit-content;
        width: fit-content;
    }

    .hx-at-hdr-mob-social {
        padding-top: var(--rem-aa);
    }
    .hx-at-hdr-mob-social img {
        height: 2rem;
        padding-inline: calc(var(--rem-aa) / 2);
        cursor: pointer;
    }

    #hx-at-hdr-mobile-back {
        display: none;
        content: '';
        background-color: #11111190;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        position: fixed;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    #closepopup {
        display: none;
    }


    #popupiframe {
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/

        border-radius: unset;
        /*box-shadow: 0 0 var(--rem-c) #000000;*/
        width: 100vw;
        height: unset;

        /*background-color: #FFFfff;*/

        /*transition: all .3s ease-in;*/
    }
}

@media screen and (max-width: 480px) {
    .hx-at-hero-ul {
        display: flex;
        gap: var(--rem-a);
    }
    .hx-at-review {
        margin: 0;
    }
}