.t-sumbit {
    font-size: var(--rem-aa)!important;
    padding: var(--rem-a) var(--rem-b) calc(var(--rem-a) - 2px) var(--rem-b)!important;
    padding-bottom: 0!important;
    height: unset!important;
}
.t-section__descr {
    max-width: unset!important;
}
.t690 .t-section__topwrapper {
    margin-bottom: var(--rem-b)!important;
}
.t690 .t-section__title {
    margin-bottom: 0!important;
}
